/* Ion.RangeSlider, RSC
// css version 2.0.3
// © Andrew O'Regan, 2015 - www.fantoraygun.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right {
    background-color: #E7E6E6;
    height: 8px;
}

/* .irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-slider */
.irs-bar-edge {
    background: url(../img/sprite-skin-flat.png) repeat-x;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 12px; top: 25px;
}

    .irs-line-left {
        -webkit-border-top-left-radius:    4px;
        -webkit-border-bottom-left-radius: 4px;
           -moz-border-radius-topleft:     4px;
           -moz-border-radius-bottomleft:  4px;
                border-top-left-radius:    4px;
                border-bottom-left-radius: 4px;
        left: 25px;
    }
    .irs-line-mid {
        /* height: 12px;
        background-position: 0 0; */
    }
    .irs-line-right {
        -webkit-border-top-right-radius:    4px;
        -webkit-border-bottom-right-radius: 4px;
           -moz-border-radius-topright:     4px;
           -moz-border-radius-bottomright:  4px;
                border-top-right-radius:    4px;
                border-bottom-right-radius: 4px;
        right: 25px;
    }

.irs-bar { 
    top: 25px;
    height: 8px;
    background-color: black;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    /* background-position: 0 -60px; */
}
    .irs-bar-edge {
        top: 25px;
        height: 12px; width: 9px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    width: 50px;
    height: 42px;
    top: -9px;
    margin-left: -16px;
}
.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.irs-from {
    margin-top: -9px;
    margin-left: 1px;
}
.irs-to {
    margin-top: -9px;
    margin-left: -1px;
}
.irs-single {
    margin-top: -9px;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 6px 9px;
    background: black;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -16px; left: 50%;
    width: 0; height: 0;
    margin-left: -8px;
    overflow: hidden;
    border: 8px solid transparent;
    border-top-color: black;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}

.irs-disabled {
}
