@import url("//hello.myfonts.net/count/2e4218");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Futura';
  src: url("fonts/2E4218_0_0.eot");
  src: url("fonts/2E4218_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/2E4218_0_0.woff2") format("woff2"), url("fonts/2E4218_0_0.woff") format("woff"), url("fonts/2E4218_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("fonts/2E4218_1_0.eot");
  src: url("fonts/2E4218_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/2E4218_1_0.woff2") format("woff2"), url("fonts/2E4218_1_0.woff") format("woff"), url("fonts/2E4218_1_0.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Futura';
  src: url("fonts/2E4218_2_0.eot");
  src: url("fonts/2E4218_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/2E4218_2_0.woff2") format("woff2"), url("fonts/2E4218_2_0.woff") format("woff"), url("fonts/2E4218_2_0.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* line 37, ../sass/_base.scss */
body {
  font-family: 'Futura', Helvetica, sans-serif;
  font-size: 16px;
}

/* line 41, ../sass/_base.scss */
body.noscroll {
  overflow: hidden;
}

/* line 45, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* IE SVG HACK */
/* line 50, ../sass/_base.scss */
.ie9 img[src*=".svg"] {
  width: 100%;
}

/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 55, ../sass/_base.scss */
  img[src*=".svg"] {
    width: 100%;
  }
}
/* line 60, ../sass/_base.scss */
h1, h4.title {
  font-size: 29.84427px;
}
@media (min-width: 1024px) {
  /* line 60, ../sass/_base.scss */
  h1, h4.title {
    font-size: 50.51735px;
  }
}

/* line 68, ../sass/_base.scss */
h2, h3.new-content-head, h3.related-head, p.subtitle {
  font-size: 31.984px;
}
@media (min-width: 1024px) {
  /* line 68, ../sass/_base.scss */
  h2, h3.new-content-head, h3.related-head, p.subtitle {
    font-size: 37.89749px;
  }
}

/* line 76, ../sass/_base.scss */
h3, h4, h2.subtitle {
  font-size: 23.994px;
}
@media (min-width: 1024px) {
  /* line 76, ../sass/_base.scss */
  h3, h4, h2.subtitle {
    font-size: 28.43022px;
  }
}

/* line 84, ../sass/_base.scss */
a {
  color: #d54d3a;
  text-decoration: none;
}
/* line 88, ../sass/_base.scss */
a:hover {
  color: black;
}

/* line 94, ../sass/_base.scss */
p.subtitle {
  font-size: 22.3888px;
}
@media (min-width: 1024px) {
  /* line 94, ../sass/_base.scss */
  p.subtitle {
    font-size: 37.89749px;
  }
}

/* line 21, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/_layout.scss */
* {
  min-width: 0;
}

/*--------- BASE TEMPLATE HEADER ---------*/
/* line 15, ../sass/_layout.scss */
.header-container {
  position: relative;
  z-index: 100;
}
/* line 19, ../sass/_layout.scss */
.header-container .wrapper {
  text-align: center;
}
/* line 22, ../sass/_layout.scss */
.header-container .wrapper .header-top {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 28, ../sass/_layout.scss */
.header-container .wrapper .header-top .logo {
  position: relative;
  margin: 0 auto;
  height: 57px;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 790px) {
  /* line 28, ../sass/_layout.scss */
  .header-container .wrapper .header-top .logo {
    height: 70px;
  }
}
@media (min-width: 1024px) {
  /* line 28, ../sass/_layout.scss */
  .header-container .wrapper .header-top .logo {
    height: 90px;
  }
}
/* line 45, ../sass/_layout.scss */
.header-container .wrapper .header-top .menu-button {
  position: absolute;
  float: right;
  top: 5px;
  right: 2%;
  height: 50px;
  cursor: pointer;
}
@media (min-width: 790px) {
  /* line 45, ../sass/_layout.scss */
  .header-container .wrapper .header-top .menu-button {
    top: 10px;
    height: 60px;
  }
}
@media (min-width: 1024px) {
  /* line 45, ../sass/_layout.scss */
  .header-container .wrapper .header-top .menu-button {
    visibility: hidden;
    top: 15px;
    height: 70px;
  }
}
/* line 66, ../sass/_layout.scss */
.header-container .wrapper .header-top img {
  height: 100%;
}
/* line 72, ../sass/_layout.scss */
.header-container .wrapper nav {
  position: fixed;
  background: white;
  text-align: left;
  padding: 1rem 0 0 1rem;
  height: 100%;
  width: 100%;
  left: 100%;
}
/* line 81, ../sass/_layout.scss */
.header-container .wrapper nav.nav-active {
  left: 0;
  -moz-animation: nav-keyframes 0.3s ease-out 0s 1 normal forwards;
  -webkit-animation: nav-keyframes 0.3s ease-out 0s 1 normal forwards;
  animation: nav-keyframes 0.3s ease-out 0s 1 normal forwards;
}
@media (min-width: 1024px) {
  /* line 72, ../sass/_layout.scss */
  .header-container .wrapper nav {
    margin-top: 90px;
  }
}
@media (min-width: 1024px) {
  /* line 72, ../sass/_layout.scss */
  .header-container .wrapper nav {
    position: static;
    margin-top: 110px;
    text-align: center;
    padding: 0;
    height: auto;
    left: auto;
    border-top: 1px solid #b4baae;
  }
}
/* line 100, ../sass/_layout.scss */
.header-container .wrapper nav ul.top-level {
  font-size: 18px;
  font-weight: bold;
  max-width: 1440px;
}
@media (min-width: 1024px) {
  /* line 100, ../sass/_layout.scss */
  .header-container .wrapper nav ul.top-level {
    font-size: 12.003px;
    font-weight: normal;
    text-transform: uppercase;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
/* line 115, ../sass/_layout.scss */
.header-container .wrapper nav ul.top-level li {
  margin-bottom: 1rem;
}
@media (min-width: 790px) {
  /* line 115, ../sass/_layout.scss */
  .header-container .wrapper nav ul.top-level li {
    margin: 0 0.6rem;
    padding: 1rem;
    letter-spacing: 0.03em;
  }
}
@media (min-width: 790px) {
  /* line 124, ../sass/_layout.scss */
  .header-container .wrapper nav ul.top-level li.selected {
    font-weight: bold;
  }
}
/* line 130, ../sass/_layout.scss */
.header-container .wrapper nav ul.top-level li.selected a {
  color: #d54d3a;
}
/* line 136, ../sass/_layout.scss */
.header-container .wrapper nav ul.top-level li a {
  color: #464841;
  transition: all 0.5s ease-out;
}
/* line 140, ../sass/_layout.scss */
.header-container .wrapper nav ul.top-level li a:hover {
  color: #d54d3a;
}
/* line 151, ../sass/_layout.scss */
.header-container .wrapper nav .undernav {
  display: none;
  position: fixed;
  width: 100%;
  top: 77px;
  bottom: 0;
  left: 0;
  background-color: rgba(213, 77, 58, 0.95);
  z-index: 20;
  overflow: hidden;
}
/* line 162, ../sass/_layout.scss */
.header-container .wrapper nav .undernav.opened {
  display: block;
}
@media (min-width: 790px) {
  /* line 151, ../sass/_layout.scss */
  .header-container .wrapper nav .undernav {
    top: 90px;
  }
}
@media (min-width: 1024px) {
  /* line 151, ../sass/_layout.scss */
  .header-container .wrapper nav .undernav {
    top: 155px;
  }
}
/* line 174, ../sass/_layout.scss */
.header-container .wrapper nav .undernav .undernav-item {
  width: 100%;
  height: 100%;
  display: none;
}
/* line 179, ../sass/_layout.scss */
.header-container .wrapper nav .undernav .undernav-item.vis {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 185, ../sass/_layout.scss */
.header-container .wrapper nav .undernav .undernav-item ul {
  height: 100%;
  padding-top: 2em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
/* line 192, ../sass/_layout.scss */
.header-container .wrapper nav .undernav .undernav-item ul li {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 17.6px;
}
/* line 197, ../sass/_layout.scss */
.header-container .wrapper nav .undernav .undernav-item ul li h3 {
  margin-bottom: 1.5rem;
}
/* line 204, ../sass/_layout.scss */
.header-container .wrapper nav .undernav .close-btn {
  position: relative;
  z-index: 21;
  float: right;
  margin: 10px;
  width: 15px;
  height: 15px;
}
/* line 212, ../sass/_layout.scss */
.header-container .wrapper nav .undernav .close-btn::before {
  content: "close";
  margin-left: -38px;
  text-transform: uppercase;
  font-size: 10px;
}
@media (min-width: 790px) {
  /* line 204, ../sass/_layout.scss */
  .header-container .wrapper nav .undernav .close-btn {
    margin: 25px;
    width: 25px;
    height: 25px;
  }
  /* line 224, ../sass/_layout.scss */
  .header-container .wrapper nav .undernav .close-btn::before {
    font-size: 16px;
    margin-top: 8px;
    margin-left: -91px;
    display: block;
  }
}

/*--------- PLAY HUB ---------*/
/* line 246, ../sass/_layout.scss */
.main-container {
  margin-top: 77px;
}
@media (min-width: 790px) {
  /* line 246, ../sass/_layout.scss */
  .main-container {
    margin-top: 90px;
  }
}
@media (min-width: 1024px) {
  /* line 246, ../sass/_layout.scss */
  .main-container {
    margin-top: 0;
  }
}
/* line 255, ../sass/_layout.scss */
.main-container main {
  display: block;
}
/* line 260, ../sass/_layout.scss */
.main-container main article header {
  background-color: #b4baae;
}
/* line 263, ../sass/_layout.scss */
.main-container main article header .content-header {
  position: relative;
  margin: 0 auto;
  min-height: 400px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.main-container main article header .content-header:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 790px) {
  /* line 263, ../sass/_layout.scss */
  .main-container main article header .content-header {
    text-align: right;
  }
}
/* line 273, ../sass/_layout.scss */
.main-container main article header .content-header .main-image {
  position: relative;
}
@media (min-width: 790px) {
  /* line 273, ../sass/_layout.scss */
  .main-container main article header .content-header .main-image {
    width: 50%;
    float: left;
  }
}
/* line 283, ../sass/_layout.scss */
.main-container main article header .content-header .main-image .main-image-holder img {
  width: 100%;
  display: block;
}
/* line 292, ../sass/_layout.scss */
.main-container main article header .content-header h1 {
  text-align: center;
  padding: 0.7rem 1rem;
}
@media (min-width: 790px) {
  /* line 292, ../sass/_layout.scss */
  .main-container main article header .content-header h1 {
    text-align: left;
    padding-top: 1.2rem;
    font-size: 35.36215px;
  }
}
/* line 304, ../sass/_layout.scss */
.main-container main article header .content-header .intro-boilerplate {
  padding-bottom: 15px;
}
@media (min-width: 790px) {
  /* line 304, ../sass/_layout.scss */
  .main-container main article header .content-header .intro-boilerplate {
    display: none;
  }
}
/* line 310, ../sass/_layout.scss */
.main-container main article header .content-header .intro-boilerplate h2 {
  text-align: center;
  padding: 15px 3%;
}
/* line 315, ../sass/_layout.scss */
.main-container main article header .content-header .intro-boilerplate p {
  padding: 0 3%;
}
/* line 320, ../sass/_layout.scss */
.main-container main article header .content-header .media-holder, .main-container main article header .content-header .cast-creatives-holder, .main-container main article header .content-header .gallery-holder, .main-container main article header .content-header .buy-tickets-holder {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (min-width: 790px) {
  /* line 320, ../sass/_layout.scss */
  .main-container main article header .content-header .media-holder, .main-container main article header .content-header .cast-creatives-holder, .main-container main article header .content-header .gallery-holder, .main-container main article header .content-header .buy-tickets-holder {
    width: 75%;
    float: left;
    min-height: 450px;
  }
}
/* line 330, ../sass/_layout.scss */
.main-container main article header .content-header .media-holder ~ .intro-copy, .main-container main article header .content-header .cast-creatives-holder ~ .intro-copy, .main-container main article header .content-header .gallery-holder ~ .intro-copy, .main-container main article header .content-header .buy-tickets-holder ~ .intro-copy {
  display: none;
}
/* line 338, ../sass/_layout.scss */
.main-container main article header .content-header .media-holder .large-video-holder {
  height: 100%;
  background-color: #a0a798;
}
@media (min-width: 790px) {
  /* line 338, ../sass/_layout.scss */
  .main-container main article header .content-header .media-holder .large-video-holder {
    min-height: 400px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
/* line 349, ../sass/_layout.scss */
.main-container main article header .content-header .media-holder .large-video-holder iframe {
  width: 100%;
  display: block;
}
/* line 356, ../sass/_layout.scss */
.main-container main article header .content-header .media-holder .small-video-holder {
  margin-bottom: 0.7rem;
}
@media (min-width: 790px) {
  /* line 356, ../sass/_layout.scss */
  .main-container main article header .content-header .media-holder .small-video-holder {
    margin-bottom: 1.2rem;
    padding-left: 1rem;
  }
}
/* line 364, ../sass/_layout.scss */
.main-container main article header .content-header .media-holder .small-video-holder iframe {
  width: 100%;
  height: 100%;
  display: block;
}
@media (min-width: 790px) {
  /* line 372, ../sass/_layout.scss */
  .main-container main article header .content-header .media-holder .audio-embed {
    margin-bottom: 1.2rem;
    padding-left: 1rem;
  }
}
/* line 379, ../sass/_layout.scss */
.main-container main article header .content-header .media-holder .audio-embed iframe {
  width: 100%;
  height: 100px;
  display: block;
}
@media (min-width: 790px) {
  /* line 389, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}
/* line 396, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder h3 {
  font-weight: normal;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
}
@media (min-width: 790px) {
  /* line 402, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-wrapper .cast, .main-container main article header .content-header .cast-creatives-holder .cc-wrapper .creatives {
    display: inline-block;
    height: 500px;
  }
}
@media (min-width: 790px) {
  /* line 411, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-wrapper .cast {
    width: 65%;
    max-width: 500px;
  }
}
@media (min-width: 790px) {
  /* line 420, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-wrapper .creatives {
    width: 34%;
    margin-top: 1rem;
  }
}
@media (min-width: 790px) and (min-width: 790px) {
  /* line 420, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-wrapper .creatives {
    max-width: 250px;
  }
}
@media (min-width: 790px) {
  /* line 430, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-wrapper .creatives .cc-item {
    border: 0;
  }
}
/* line 438, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-outer {
  overflow-x: scroll;
  margin-bottom: 1.3em;
}
@media (min-width: 790px) {
  /* line 438, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-outer {
    overflow-x: auto;
    overflow-y: scroll;
    height: 100%;
  }
}
/* line 450, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding-bottom: 10px;
}
@media (min-width: 790px) {
  /* line 450, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-inner {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
/* line 460, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item {
  text-align: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  padding: 0 0.9em;
  border-left: black solid 1px;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 469, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item:first-child {
  padding-left: 0;
  border-left: 0;
}
@media (min-width: 790px) {
  /* line 460, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item {
    margin-bottom: 1.5rem;
  }
  /* line 478, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item:nth-child(2n - 1) {
    border-left: 0;
  }
  /* line 482, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item:first-child {
    padding-left: 0.9em;
    border-left: 0;
  }
  /* line 489, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item:nth-child(2n - 2) .headshot-thumb {
    -webkit-order: -1;
    order: -1;
    padding-left: 0;
    padding-right: 0.3em;
  }
}
@media (min-width: 1024px) {
  /* line 460, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item {
    padding-right: 1.5em;
  }
  /* line 503, ../sass/_layout.scss */
  .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item:nth-child(2n - 2) {
    padding-left: 1.5em;
  }
}
/* line 509, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .copy, .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .headshot-thumb {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 515, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .copy {
  width: 6em;
}
/* line 518, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .copy .cc-name, .main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .copy .cc-role {
  margin: 0.5em 0;
}
/* line 522, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .copy .cc-role {
  font-style: italic;
  font-size: 11.37778px;
}
/* line 529, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .headshot-thumb {
  width: 3.2rem;
  height: 4rem;
  padding-left: 0.3em;
}
/* line 534, ../sass/_layout.scss */
.main-container main article header .content-header .cast-creatives-holder .cc-inner .cc-item .headshot-thumb img {
  width: 100%;
  height: 100%;
}
/* line 548, ../sass/_layout.scss */
.main-container main article header .content-header .gallery-holder .gallery-wrapper {
  text-align: center;
}
/* line 552, ../sass/_layout.scss */
.main-container main article header .content-header .gallery-holder .gallery-wrapper img.gall-placeholder-mob {
  width: 100%;
  height: auto;
}
@media (min-width: 790px) {
  /* line 552, ../sass/_layout.scss */
  .main-container main article header .content-header .gallery-holder .gallery-wrapper img.gall-placeholder-mob {
    display: none;
  }
}
/* line 561, ../sass/_layout.scss */
.main-container main article header .content-header .gallery-holder .gallery-wrapper img.gall-placeholder-large {
  display: none;
  width: 90%;
  height: auto;
}
@media (min-width: 790px) {
  /* line 561, ../sass/_layout.scss */
  .main-container main article header .content-header .gallery-holder .gallery-wrapper img.gall-placeholder-large {
    display: inline-block;
    margin-bottom: 1.5em;
  }
}
@media (min-width: 790px) {
  /* line 576, ../sass/_layout.scss */
  .main-container main article header .content-header .buy-tickets-holder {
    text-align: left;
  }
}
/* line 582, ../sass/_layout.scss */
.main-container main article header .content-header .buy-tickets-holder .buy-tickets-filters {
  font-size: 14.22222px;
  padding: 0 3%;
}
/* line 588, ../sass/_layout.scss */
.main-container main article header .content-header .buy-tickets-holder .buy-tickets-list {
  margin-top: 1.5rem;
  padding: 0 3%;
}
/* line 619, ../sass/_layout.scss */
.main-container main article header .content-header .intro-copy {
  padding: 40px 15px 0;
  background-color: white;
  text-align: left;
}
@media (min-width: 480px) {
  /* line 619, ../sass/_layout.scss */
  .main-container main article header .content-header .intro-copy {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1110px) {
  /* line 619, ../sass/_layout.scss */
  .main-container main article header .content-header .intro-copy {
    width: 25%;
    background-color: inherit;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}
/* line 637, ../sass/_layout.scss */
.main-container main article header .content-header .intro-copy p {
  line-height: 1.5rem;
  font-size: 18px;
  max-width: 57rem;
  padding: 0 3%;
  margin: 0 auto;
}
@media (min-width: 790px) {
  /* line 637, ../sass/_layout.scss */
  .main-container main article header .content-header .intro-copy p {
    display: block;
    font-size: 21.328px;
    line-height: 1.7rem;
  }
}
@media (min-width: 1110px) {
  /* line 637, ../sass/_layout.scss */
  .main-container main article header .content-header .intro-copy p {
    padding: 0;
  }
}
/* line 658, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info {
  text-align: center;
  padding: 20px 0;
}
@media (min-width: 480px) {
  /* line 658, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info {
    padding: 15px 10px 5px;
  }
}
@media (min-width: 790px) {
  /* line 658, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info {
    display: inline-block;
    text-align: right;
    height: 100%;
    float: none;
    width: 24.5%;
  }
}
@media (min-width: 1110px) {
  /* line 658, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info {
    padding: 20px 20px 20px 0;
  }
}
@media (min-width: 480px) {
  /* line 678, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info .time-place {
    text-align: left;
    width: 50%;
    float: left;
  }
}
@media (min-width: 790px) {
  /* line 678, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info .time-place {
    display: block;
    width: auto;
    text-align: right;
    float: none;
  }
}
/* line 694, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li {
  margin-bottom: 8px;
}
@media (min-width: 1024px) {
  /* line 694, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info .time-place ul li {
    font-size: 21.328px;
  }
}
/* line 701, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li.on-tour, .main-container main article header .content-header aside.side-info .time-place ul li.in-cinemas {
  margin-bottom: 20px;
}
@media (min-width: 790px) {
  /* line 705, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info .time-place ul li.on-tour {
    position: relative;
  }
}
/* line 711, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li.on-tour a {
  color: black;
}
/* line 714, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li.on-tour a:hover {
  color: #d54d3a;
}
/* line 720, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li.on-tour ul.on-tour-list {
  display: none;
  background-color: #a7aea0;
  padding: 10px;
}
@media (min-width: 790px) {
  /* line 720, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info .time-place ul li.on-tour ul.on-tour-list {
    position: absolute;
    top: -10px;
    left: -220px;
    z-index: 2;
  }
}
/* line 732, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li.on-tour ul.on-tour-list.on-tour-active {
  display: block;
}
@media (min-width: 790px) {
  /* line 732, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info .time-place ul li.on-tour ul.on-tour-list.on-tour-active {
    -moz-animation: tour-list-keys 0.3s ease-out 0s 1 normal forwards;
    -webkit-animation: tour-list-keys 0.3s ease-out 0s 1 normal forwards;
    animation: tour-list-keys 0.3s ease-out 0s 1 normal forwards;
  }
}
/* line 740, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li.on-tour ul.on-tour-list li {
  margin-bottom: 10px;
}
/* line 743, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li.on-tour ul.on-tour-list li:last-child {
  margin-bottom: 0;
}
/* line 753, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place ul li .date {
  color: white;
  font-size: 14.22222px;
  margin-top: 3px;
  font-style: italic;
  /* text-transform: uppercase; */
}
@media (min-width: 790px) {
  /* line 753, ../sass/_layout.scss */
  .main-container main article header .content-header aside.side-info .time-place ul li .date {
    font-size: 16px;
  }
}
/* line 770, ../sass/_layout.scss */
.main-container main article header .content-header aside.side-info .time-place .timing, .main-container main article header .content-header aside.side-info .time-place .pricing {
  font-size: 14.22222px;
  color: white;
  margin-bottom: 10px;
}
/* line 780, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu {
  padding: 25px 0 0;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 480px) {
  /* line 780, ../sass/_layout.scss */
  .main-container main article header .content-header .side-menu {
    margin-top: 0;
    padding: 15px 10px;
    text-align: right;
    display: inline-block;
    width: 50%;
    float: left;
  }
}
@media (min-width: 790px) {
  /* line 780, ../sass/_layout.scss */
  .main-container main article header .content-header .side-menu {
    float: none;
    width: auto;
    padding: 15px 0 0;
  }
}
@media (min-width: 1110px) {
  /* line 780, ../sass/_layout.scss */
  .main-container main article header .content-header .side-menu {
    padding: 20px 20px 20px 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* line 806, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .buy-tickets {
  font-size: 18px;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  /* line 806, ../sass/_layout.scss */
  .main-container main article header .content-header .side-menu .buy-tickets {
    font-size: 22.74418px;
  }
}
/* line 820, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav ul li {
  margin-bottom: 7px;
}
/* line 823, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav ul li:last-child {
  margin-bottom: 0;
}
/* line 827, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav ul li.selected {
  font-weight: bold;
}
/* line 835, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav .sub-nav-more {
  margin-top: 10px;
}
/* line 838, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav .sub-nav-more:hover {
  color: #d54d3a;
}
@media (min-width: 790px) {
  /* line 835, ../sass/_layout.scss */
  .main-container main article header .content-header .side-menu .sub-nav .sub-nav-more {
    position: relative;
  }
}
/* line 846, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav .sub-nav-more .sub-nav-extras {
  display: none;
  background-color: #a7aea0;
  padding: 10px;
}
@media (min-width: 790px) {
  /* line 846, ../sass/_layout.scss */
  .main-container main article header .content-header .side-menu .sub-nav .sub-nav-more .sub-nav-extras {
    position: absolute;
    bottom: -10px;
    right: 200px;
    z-index: 2;
  }
}
/* line 858, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav .sub-nav-more .sub-nav-extras.sub-nav-active {
  display: block;
}
@media (min-width: 790px) {
  /* line 858, ../sass/_layout.scss */
  .main-container main article header .content-header .side-menu .sub-nav .sub-nav-more .sub-nav-extras.sub-nav-active {
    -moz-animation: sub-nav-keys 0.3s ease-out 0s 1 normal forwards;
    -webkit-animation: sub-nav-keys 0.3s ease-out 0s 1 normal forwards;
    animation: sub-nav-keys 0.3s ease-out 0s 1 normal forwards;
  }
}
/* line 869, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav .sub-nav-more .sub-nav-extras ul li {
  margin-bottom: 7px;
}
/* line 872, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu .sub-nav .sub-nav-more .sub-nav-extras ul li:last-child {
  margin-bottom: 0;
}
/* line 886, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu a {
  color: black;
  transition: all 0.5s ease-out;
}
/* line 890, ../sass/_layout.scss */
.main-container main article header .content-header .side-menu a:hover {
  color: #d54d3a;
}
/* line 900, ../sass/_layout.scss */
.main-container main article header .intro-bp-large {
  display: none;
  background-color: white;
  text-align: center;
  font-size: 19.2px;
  padding-bottom: 15px;
  padding-top: 2em;
}
@media (min-width: 790px) {
  /* line 900, ../sass/_layout.scss */
  .main-container main article header .intro-bp-large {
    display: block;
  }
}
/* line 911, ../sass/_layout.scss */
.main-container main article header .intro-bp-large h2 {
  text-align: center;
  padding: 15px 3%;
}
/* line 916, ../sass/_layout.scss */
.main-container main article header .intro-bp-large p {
  padding: 0 3%;
}
/* line 922, ../sass/_layout.scss */
.main-container main article section {
  padding-top: 40px;
}
/* line 929, ../sass/_layout.scss */
.main-container main article section.main-copy p, .main-container main article section.main-copy h2, .main-container main article section.main-copy h3 {
  padding: 0 3%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 790px) {
  /* line 929, ../sass/_layout.scss */
  .main-container main article section.main-copy p, .main-container main article section.main-copy h2, .main-container main article section.main-copy h3 {
    max-width: 57rem;
    padding: 0 5%;
  }
}
/* line 941, ../sass/_layout.scss */
.main-container main article section.main-copy h2 {
  margin-bottom: 30px;
  line-height: 1.3em;
}
@media (min-width: 790px) {
  /* line 941, ../sass/_layout.scss */
  .main-container main article section.main-copy h2 {
    margin-bottom: 40px;
    padding: 0;
  }
}
/* line 952, ../sass/_layout.scss */
.main-container main article section.main-copy h3 {
  margin-bottom: 10px;
  line-height: 1.2em;
}
@media (min-width: 790px) {
  /* line 952, ../sass/_layout.scss */
  .main-container main article section.main-copy h3 {
    margin-bottom: 20px;
  }
}
/* line 962, ../sass/_layout.scss */
.main-container main article section.main-copy p {
  line-height: 1.5em;
}
@media (min-width: 790px) {
  /* line 962, ../sass/_layout.scss */
  .main-container main article section.main-copy p {
    margin: 0 auto 30px;
  }
}
/* line 969, ../sass/_layout.scss */
.main-container main article section.main-copy p:last-child {
  margin-bottom: 0;
}
/* line 975, ../sass/_layout.scss */
.main-container main article section.main-copy figure {
  max-width: 400px;
  margin: 0 auto 30px;
}
/* line 979, ../sass/_layout.scss */
.main-container main article section.main-copy figure img {
  width: 100%;
}
/* line 983, ../sass/_layout.scss */
.main-container main article section.main-copy figure figcaption {
  font-size: 12.08889px;
  line-height: 1.2em;
  color: #acafa6;
}
@media (min-width: 790px) {
  /* line 990, ../sass/_layout.scss */
  .main-container main article section.main-copy .left-float-img-holder {
    float: left;
    margin: 0 2% 0;
  }
}
@media (min-width: 1024px) {
  /* line 990, ../sass/_layout.scss */
  .main-container main article section.main-copy .left-float-img-holder {
    margin-left: 9%;
  }
}
@media (min-width: 790px) {
  /* line 1003, ../sass/_layout.scss */
  .main-container main article section.main-copy .right-float-img-holder {
    float: right;
    margin: 0 2%;
  }
}
@media (min-width: 1024px) {
  /* line 1003, ../sass/_layout.scss */
  .main-container main article section.main-copy .right-float-img-holder {
    margin-right: 9%;
  }
}
/* line 1018, ../sass/_layout.scss */
.main-container main article section.newest-content, .main-container main article section.quick-links, .main-container main article section.visit-us, .main-container main article section.exhibitions {
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 790px) {
  /* line 1018, ../sass/_layout.scss */
  .main-container main article section.newest-content, .main-container main article section.quick-links, .main-container main article section.visit-us, .main-container main article section.exhibitions {
    padding-left: 3%;
    padding-right: 3%;
  }
}
/* line 1027, ../sass/_layout.scss */
.main-container main article section.newest-content h3, .main-container main article section.quick-links h3, .main-container main article section.visit-us h3, .main-container main article section.exhibitions h3 {
  margin-bottom: 30px;
}
@media (min-width: 790px) {
  /* line 1027, ../sass/_layout.scss */
  .main-container main article section.newest-content h3, .main-container main article section.quick-links h3, .main-container main article section.visit-us h3, .main-container main article section.exhibitions h3 {
    margin-bottom: 40px;
  }
}
@media (min-width: 790px) {
  /* line 1039, ../sass/_layout.scss */
  .main-container main article section.newest-content .new-content-items {
    text-align: center;
  }
}
/* line 1045, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder {
  min-height: 160px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 790px) {
  /* line 1045, ../sass/_layout.scss */
  .main-container main article section.newest-content .new-content-items .new-content-holder {
    display: -webkit-inline-flex;
    display: inline-flex;
    vertical-align: top;
    width: 210px;
    margin: 0 15px 20px;
  }
}
/* line 1061, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder.video {
  background: url(../img/video_bkgrnd.png) top left no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 790px) {
  /* line 1061, ../sass/_layout.scss */
  .main-container main article section.newest-content .new-content-items .new-content-holder.video {
    min-width: 270px;
  }
}
/* line 1071, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder.image {
  background: url(../img/image_bkgrnd.png) top left no-repeat;
  background-size: 100% 100%;
}
/* line 1076, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder.interview {
  background: url(../img/Interviews.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1080, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder.season {
  background: url(../img/season.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1084, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder.access {
  background: url(../img/Access.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1088, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder.article {
  background: url(../img/Articles.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1092, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder.edact {
  background: url(../img/edact.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1097, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder:last-child {
  margin-bottom: 0;
}
@media (min-width: 790px) {
  /* line 1097, ../sass/_layout.scss */
  .main-container main article section.newest-content .new-content-items .new-content-holder:last-child {
    margin-bottom: 20px;
  }
}
/* line 1106, ../sass/_layout.scss */
.main-container main article section.newest-content .new-content-items .new-content-holder a:hover {
  color: #eaeaea;
}
/* line 1116, ../sass/_layout.scss */
.main-container main article section.related {
  margin-top: 40px;
  padding: 40px 5%;
  background-color: #b4baae;
}
@media (min-width: 790px) {
  /* line 1116, ../sass/_layout.scss */
  .main-container main article section.related {
    padding: 60px 3%;
  }
}
/* line 1125, ../sass/_layout.scss */
.main-container main article section.related h3.related-head {
  margin-bottom: 30px;
}
/* line 1129, ../sass/_layout.scss */
.main-container main article section.related .related-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
@media (min-width: 790px) {
  /* line 1129, ../sass/_layout.scss */
  .main-container main article section.related .related-items {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    align-content: space-around;
    max-height: 200px;
    position: relative;
    margin: 0 auto;
  }
}
/* line 1142, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder {
  background: url(../img/related_bkgrnd.png) top left no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
  padding: 15px;
}
/* line 1148, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
}
/* line 1153, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.large {
  height: 200px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 790px) {
  /* line 1153, ../sass/_layout.scss */
  .main-container main article section.related .related-items .related-holder.large {
    flex-grow: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    width: 29%;
  }
}
/* line 1170, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.medium {
  height: 150px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 790px) {
  /* line 1170, ../sass/_layout.scss */
  .main-container main article section.related .related-items .related-holder.medium {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    width: 19%;
    height: 200px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
/* line 1189, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.small {
  height: 75px;
  text-align: center;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-flex-basis: 45%;
  flex-basis: 45%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (min-width: 790px) {
  /* line 1189, ../sass/_layout.scss */
  .main-container main article section.related .related-items .related-holder.small {
    height: 90px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    width: 19%;
  }
}
/* line 1207, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.small:nth-child(odd) {
  margin-left: 2%;
}
@media (min-width: 790px) {
  /* line 1207, ../sass/_layout.scss */
  .main-container main article section.related .related-items .related-holder.small:nth-child(odd) {
    margin-left: 0;
  }
}
/* line 1216, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.small h4 {
  font-size: 18px;
}
/* line 1222, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.workshop {
  background: url(../img/workshops.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1226, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.shakespeares {
  background: url(../img/Shakespeares-plays-1.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1230, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.event {
  background: url(../img/exhibition.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1234, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.shop {
  background: url(../img/shop.jpg) top left no-repeat;
  background-size: cover;
}
/* line 1238, ../sass/_layout.scss */
.main-container main article section.related .related-items .related-holder.blogs {
  background: url(../img/blogs.jpg) top left no-repeat;
  background-size: cover;
}

/* line 1255, ../sass/_layout.scss */
.footer-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 40px 0;
}
/* line 1261, ../sass/_layout.scss */
.footer-container footer h3 {
  text-align: center;
  text-transform: uppercase;
}
/* line 1266, ../sass/_layout.scss */
.footer-container footer img {
  width: 100%;
  height: auto;
}

/*--------- WHATS ON ---------*/
/* line 1284, ../sass/_layout.scss */
.main-container main.whatson article header .content-header {
  min-height: inherit;
}
@media (min-width: 790px) {
  /* line 1287, ../sass/_layout.scss */
  .main-container main.whatson article header .content-header h1 {
    padding: 1.2rem 3%;
  }
}
/* line 1296, ../sass/_layout.scss */
.main-container main.whatson article section {
  padding-top: 0;
}
/* line 1299, ../sass/_layout.scss */
.main-container main.whatson article section.filters {
  background-color: #b4baae;
}
/* line 1302, ../sass/_layout.scss */
.main-container main.whatson article section.filters .filter-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3%;
}
@media (min-width: 480px) {
  /* line 1316, ../sass/_layout.scss */
  .main-container main.whatson article section.results .event {
    width: 50%;
    float: left;
  }
}
@media (min-width: 790px) {
  /* line 1316, ../sass/_layout.scss */
  .main-container main.whatson article section.results .event {
    width: 33.33333%;
    float: left;
  }
}
/* line 1326, ../sass/_layout.scss */
.main-container main.whatson article section.results .event .event-header {
  position: relative;
}
/* line 1329, ../sass/_layout.scss */
.main-container main.whatson article section.results .event .event-header img {
  width: 100%;
}

@-moz-keyframes nav-keyframes {
  /* line 4, ../sass/_modules.scss */
  0% {
    opacity: 0;
    left: 100%;
  }

  /* line 5, ../sass/_modules.scss */
  100% {
    opacity: 1;
    left: 0%;
  }
}
@-webkit-keyframes nav-keyframes {
  /* line 4, ../sass/_modules.scss */
  0% {
    opacity: 0;
    left: 100%;
  }

  /* line 5, ../sass/_modules.scss */
  100% {
    opacity: 1;
    left: 0%;
  }
}
@keyframes nav-keyframes {
  /* line 4, ../sass/_modules.scss */
  0% {
    opacity: 0;
    left: 100%;
  }

  /* line 5, ../sass/_modules.scss */
  100% {
    opacity: 1;
    left: 0%;
  }
}
@-moz-keyframes tour-list-keys {
  /* line 9, ../sass/_modules.scss */
  0% {
    opacity: 0;
    left: -120px;
  }

  /* line 10, ../sass/_modules.scss */
  100% {
    opacity: 1;
    left: -220px;
  }
}
@-webkit-keyframes tour-list-keys {
  /* line 9, ../sass/_modules.scss */
  0% {
    opacity: 0;
    left: -120px;
  }

  /* line 10, ../sass/_modules.scss */
  100% {
    opacity: 1;
    left: -220px;
  }
}
@keyframes tour-list-keys {
  /* line 9, ../sass/_modules.scss */
  0% {
    opacity: 0;
    left: -120px;
  }

  /* line 10, ../sass/_modules.scss */
  100% {
    opacity: 1;
    left: -220px;
  }
}
@-moz-keyframes sub-nav-keys {
  /* line 14, ../sass/_modules.scss */
  0% {
    opacity: 0;
    right: 120px;
  }

  /* line 15, ../sass/_modules.scss */
  100% {
    opacity: 1;
    right: 200px;
  }
}
@-webkit-keyframes sub-nav-keys {
  /* line 14, ../sass/_modules.scss */
  0% {
    opacity: 0;
    right: 120px;
  }

  /* line 15, ../sass/_modules.scss */
  100% {
    opacity: 1;
    right: 200px;
  }
}
@keyframes sub-nav-keys {
  /* line 14, ../sass/_modules.scss */
  0% {
    opacity: 0;
    right: 120px;
  }

  /* line 15, ../sass/_modules.scss */
  100% {
    opacity: 1;
    right: 200px;
  }
}
/* line 22, ../sass/_modules.scss */
.close-btn {
  cursor: pointer;
  background: url(../img/icon-close.svg) top left no-repeat;
  background-size: auto 100%;
}

/* line 32, ../sass/_modules.scss */
.title-copy {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
}
/* line 43, ../sass/_modules.scss */
.title-copy .title-bkgrnd {
  padding: 1rem 0;
  width: 100%;
  margin-top: 20%;
  position: relative;
}
/* line 49, ../sass/_modules.scss */
.title-copy .title-bkgrnd .bkgrnd-strip {
  background-color: rgba(227, 36, 38, 0.5);
  /* mix-blend-mode: overlay; */
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 60, ../sass/_modules.scss */
.title-copy .title-bkgrnd .title, .title-copy .title-bkgrnd .subtitle {
  color: white;
  position: relative;
  z-index: 3;
}
/* line 66, ../sass/_modules.scss */
.title-copy .title-bkgrnd .title {
  text-transform: uppercase;
  text-align: center;
  padding: 0.7rem 1rem;
}
@media (min-width: 790px) {
  /* line 66, ../sass/_modules.scss */
  .title-copy .title-bkgrnd .title {
    padding-top: 1.2rem;
    font-size: 35.36215px;
  }
}
/* line 78, ../sass/_modules.scss */
.title-copy .title-bkgrnd .subtitle {
  font-weight: normal;
}

/* line 89, ../sass/_modules.scss */
.homepage-carousel {
  overflow: hidden;
}
@media (min-width: 790px) {
  /* line 92, ../sass/_modules.scss */
  .homepage-carousel .homepage-carousel-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
}
/* line 99, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
}
@media (min-width: 790px) {
  /* line 99, ../sass/_modules.scss */
  .homepage-carousel .homepage-carousel-wrapper .carousel-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    position: relative;
  }
}
/* line 109, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info {
  display: none;
}
@media (min-width: 790px) {
  /* line 109, ../sass/_modules.scss */
  .homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info {
    position: absolute;
    display: block;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 50%;
  }
}
/* line 121, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info.active {
  display: block;
}
/* line 125, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .intro-copy {
  background-color: inherit;
  padding: 0px 15px 30px;
  text-align: center;
}
@media (min-width: 790px) {
  /* line 125, ../sass/_modules.scss */
  .homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .intro-copy {
    position: static;
    width: auto;
    padding: 10% 8% 0;
  }
}
/* line 137, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding: 0 3%;
}
@media (min-width: 790px) {
  /* line 137, ../sass/_modules.scss */
  .homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info {
    padding-right: 0;
  }
}
/* line 147, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info .side-menu {
  padding: 0;
  text-align: left;
}
@media (min-width: 790px) {
  /* line 147, ../sass/_modules.scss */
  .homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info .side-menu {
    position: static;
  }
}
/* line 157, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info .side-menu .read-more {
  font-size: 18px;
}
/* line 163, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info .time-place {
  text-align: right;
  padding: 0;
  width: 50%;
}
/* line 168, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info .time-place ul li {
  margin-bottom: 6px;
}
/* line 171, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info .time-place ul li.in-cinemas {
  margin-bottom: 6px;
}
/* line 175, ../sass/_modules.scss */
.homepage-carousel .homepage-carousel-wrapper .carousel-item .side-info .bottom-info .time-place ul li:last-child {
  margin-bottom: 0;
}

/* line 193, ../sass/_modules.scss */
section.quick-links ul li {
  display: inline-block;
  padding: 0.7em;
  background-color: #b4baae;
  text-transform: uppercase;
  margin-right: 1em;
  margin-bottom: 1em;
}
/* line 201, ../sass/_modules.scss */
section.quick-links ul li a {
  color: white;
}
/* line 204, ../sass/_modules.scss */
section.quick-links ul li a:hover {
  color: #d54d3a;
}

@media (min-width: 790px) {
  /* line 215, ../sass/_modules.scss */
  section.visit-us {
    width: 57.14286%;
    float: left;
  }
}
/* line 220, ../sass/_modules.scss */
section.visit-us .visiting-scroller {
  overflow-x: scroll;
  height: 12em;
}
@media (min-width: 790px) {
  /* line 220, ../sass/_modules.scss */
  section.visit-us .visiting-scroller {
    height: auto;
    overflow: hidden;
  }
}
/* line 229, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media (min-width: 790px) {
  /* line 229, ../sass/_modules.scss */
  section.visit-us .visiting-scroller .visiting-wrapper {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    align-content: space-around;
  }
}
/* line 238, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper a {
  display: block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
  margin-right: 0.75em;
}
@media (min-width: 790px) {
  /* line 238, ../sass/_modules.scss */
  section.visit-us .visiting-scroller .visiting-wrapper a {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    width: 47%;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
/* line 251, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper a:last-child {
  margin-right: 0;
}
/* line 256, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper .visiting-item {
  height: 12rem;
  width: 12rem;
  padding: 1.5em;
  color: white;
}
@media (min-width: 790px) {
  /* line 256, ../sass/_modules.scss */
  section.visit-us .visiting-scroller .visiting-wrapper .visiting-item {
    width: 100%;
  }
}
/* line 267, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper .visiting-item#visiting-1 {
  background: url(../img/visiting.jpg);
  background-size: cover;
}
/* line 272, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper .visiting-item#visiting-2 {
  background: url(../img/tour.jpg);
  background-size: cover;
}
/* line 277, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper .visiting-item#visiting-3 {
  background: url(../img/tour-2.jpg);
  background-size: cover;
}
/* line 282, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper .visiting-item#visiting-4 {
  background: url(../img/opening-times.jpg);
  background-size: cover;
}
/* line 287, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper .visiting-item img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/* line 298, ../sass/_modules.scss */
section.visit-us .visiting-scroller .visiting-wrapper .visiting-item h4 {
  position: relative;
  z-index: 5;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 790px) {
  /* line 314, ../sass/_modules.scss */
  .exhibitions {
    width: 42.85714%;
    float: left;
  }
}
/* line 319, ../sass/_modules.scss */
.exhibitions .exhibs-holder {
  position: relative;
  border: 2px solid #f5d606;
}
/* line 323, ../sass/_modules.scss */
.exhibitions .exhibs-holder:hover > h3 {
  background-color: rgba(70, 72, 65, 0.7);
  color: white;
}
/* line 328, ../sass/_modules.scss */
.exhibitions .exhibs-holder img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 334, ../sass/_modules.scss */
.exhibitions .exhibs-holder h3 {
  display: block;
  position: absolute;
  z-index: 5;
  margin-bottom: 0;
  top: 50%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  color: #464841;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

@media (min-width: 790px) {
  /* line 354, ../sass/_modules.scss */
  section.related.news {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 790px) {
  /* line 359, ../sass/_modules.scss */
  section.related.news .related-items.news-items {
    -webkit-flex-flow: row;
    flex-flow: row;
    max-height: none;
  }
}
/* line 365, ../sass/_modules.scss */
section.related.news .related-items.news-items .related-holder.large.news {
  height: 300px;
  padding: 0;
}
/* line 369, ../sass/_modules.scss */
section.related.news .related-items.news-items .related-holder.large.news#news1 {
  background: url(../img/news-item-1.jpg) top left no-repeat;
  background-size: cover;
}
/* line 374, ../sass/_modules.scss */
section.related.news .related-items.news-items .related-holder.large.news#news2 {
  background: url(../img/news-item-2.jpg) top left no-repeat;
  background-size: cover;
}
/* line 379, ../sass/_modules.scss */
section.related.news .related-items.news-items .related-holder.large.news#news3 {
  background: url(../img/news-item-3.jpg) top left no-repeat;
  background-size: cover;
}
/* line 384, ../sass/_modules.scss */
section.related.news .related-items.news-items .related-holder.large.news .news-header {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
}
/* line 388, ../sass/_modules.scss */
section.related.news .related-items.news-items .related-holder.large.news .news-header h4 {
  margin-bottom: 1em;
}

@media (min-width: 790px) {
  /* line 400, ../sass/_modules.scss */
  .homepage-footer footer {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 411, ../sass/_modules.scss */
.more-button, .less-button {
  transition: all 0.5s ease-out;
  cursor: pointer;
}
/* line 415, ../sass/_modules.scss */
.more-button::before, .less-button::before {
  font-weight: bold;
}

/* line 423, ../sass/_modules.scss */
.more-button.open {
  display: none;
}
/* line 427, ../sass/_modules.scss */
.more-button::before {
  content: "+ ";
}

/* line 433, ../sass/_modules.scss */
.less-button {
  display: block;
}
/* line 436, ../sass/_modules.scss */
.less-button.closed {
  display: none;
}
/* line 440, ../sass/_modules.scss */
.less-button::before {
  content: "- ";
}

/* line 449, ../sass/_modules.scss */
.filter-item {
  background-color: #e7e6e6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.2em;
  margin-bottom: 1.5rem;
}
/* line 455, ../sass/_modules.scss */
.filter-item h6 {
  font-weight: normal;
  padding: 10px 10px 10px 5px;
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  /* line 461, ../sass/_modules.scss */
  .filter-item.place {
    max-width: 450px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
/* line 471, ../sass/_modules.scss */
.filter-item.timeslot {
  max-width: 250px;
}
/* line 475, ../sass/_modules.scss */
.filter-item.deals, .filter-item.quick-search, .filter-item.change-view {
  display: inline-block;
}
@media (min-width: 790px) {
  /* line 479, ../sass/_modules.scss */
  .filter-item.showing {
    max-width: 50%;
  }
}
/* line 483, ../sass/_modules.scss */
.filter-item.showing .selected {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c5c7c1;
  padding-top: 8px;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 5px;
}
/* line 496, ../sass/_modules.scss */
.filter-item.quick-search .searchBox.hidden {
  display: none;
}
@media (min-width: 480px) {
  /* line 502, ../sass/_modules.scss */
  .filter-item.change-view {
    margin-right: 1.5rem;
  }
}
@media (min-width: 790px) {
  /* line 502, ../sass/_modules.scss */
  .filter-item.change-view {
    margin-bottom: 1.5rem;
  }
}
/* line 512, ../sass/_modules.scss */
.filter-item.change-view .filter-option {
  padding-left: 0;
}
/* line 518, ../sass/_modules.scss */
.filter-item .filter-option, .filter-item .filter-label {
  display: inline-block;
  padding: 10px;
}
/* line 523, ../sass/_modules.scss */
.filter-item .filter-option {
  font-size: 11.37778px;
}
@media (min-width: 790px) {
  /* line 523, ../sass/_modules.scss */
  .filter-item .filter-option {
    font-size: 16px;
  }
}
/* line 530, ../sass/_modules.scss */
.filter-item .filter-option.disabled {
  color: grey;
}
/* line 534, ../sass/_modules.scss */
.filter-item .filter-option img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
}
/* line 544, ../sass/_modules.scss */
.filter-item .filter-button {
  text-transform: uppercase;
  padding: 6px;
  margin-right: 0.7em;
  cursor: pointer;
}
/* line 550, ../sass/_modules.scss */
.filter-item .filter-button.change-filter {
  text-align: right;
  display: block;
}
/* line 554, ../sass/_modules.scss */
.filter-item .filter-button.change-filter a {
  display: inline-block;
  width: 49%;
}
/* line 558, ../sass/_modules.scss */
.filter-item .filter-button.change-filter #changeSelections {
  text-align: left;
}
/* line 561, ../sass/_modules.scss */
.filter-item .filter-button.change-filter #resetSelections {
  text-align: right;
}
/* line 566, ../sass/_modules.scss */
.filter-item .filter-button img {
  margin-left: 6px;
  height: 15px;
}
@media (min-width: 790px) {
  /* line 566, ../sass/_modules.scss */
  .filter-item .filter-button img {
    margin-bottom: 2px;
  }
}
/* line 578, ../sass/_modules.scss */
.filter-item .sub-filter {
  border-bottom: 1px solid white;
}
/* line 581, ../sass/_modules.scss */
.filter-item .sub-filter:last-child {
  border-bottom: 0;
  border-right: 0;
}
@media (min-width: 480px) {
  /* line 586, ../sass/_modules.scss */
  .filter-item .sub-filter.location {
    width: 65%;
  }
}
@media (min-width: 480px) {
  /* line 578, ../sass/_modules.scss */
  .filter-item .sub-filter {
    border-bottom: 0;
    border-right: 1px solid white;
    display: inline-block;
  }
}

/* line 604, ../sass/_modules.scss */
.date-range {
  padding: 0 3%;
}
@media (min-width: 480px) {
  /* line 604, ../sass/_modules.scss */
  .date-range {
    padding: 0;
  }
}

/* line 616, ../sass/_modules.scss */
.wo-questions {
  display: none;
  position: fixed;
  width: 100%;
  top: 77px;
  bottom: 0;
  left: 0;
  background-color: rgba(247, 247, 247, 0.95);
  z-index: 120;
  overflow-x: hidden;
}
/* line 627, ../sass/_modules.scss */
.wo-questions.opened {
  display: block;
}
@media (min-width: 790px) {
  /* line 616, ../sass/_modules.scss */
  .wo-questions {
    top: 90px;
  }
}
@media (min-width: 1024px) {
  /* line 616, ../sass/_modules.scss */
  .wo-questions {
    top: 110px;
  }
}
/* line 639, ../sass/_modules.scss */
.wo-questions .close-btn {
  position: relative;
  z-index: 21;
  float: right;
  margin: 10px;
  width: 15px;
  height: 15px;
}
/* line 647, ../sass/_modules.scss */
.wo-questions .close-btn::before {
  content: "close";
  margin-left: -38px;
  text-transform: uppercase;
  font-size: 10px;
}
@media (min-width: 790px) {
  /* line 639, ../sass/_modules.scss */
  .wo-questions .close-btn {
    margin: 25px;
    width: 25px;
    height: 25px;
  }
  /* line 659, ../sass/_modules.scss */
  .wo-questions .close-btn::before {
    font-size: 16px;
    margin-top: 8px;
    margin-left: -61px;
    display: block;
  }
}
/* line 670, ../sass/_modules.scss */
.wo-questions .questions-holder {
  position: absolute;
  top: 0;
  bottom: 40px;
  width: 100%;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  transition: left 0.6s ease-out;
}
/* line 681, ../sass/_modules.scss */
.wo-questions .questions-holder.what-pos {
  left: 0;
}
/* line 685, ../sass/_modules.scss */
.wo-questions .questions-holder.where-pos {
  left: -100%;
}
/* line 689, ../sass/_modules.scss */
.wo-questions .questions-holder.when-pos {
  left: 100%;
}
/* line 693, ../sass/_modules.scss */
.wo-questions .questions-holder .question {
  width: 100%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: inline-block;
  overflow-y: scroll;
  padding: 2em 1em 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (min-width: 790px) {
  /* line 693, ../sass/_modules.scss */
  .wo-questions .questions-holder .question {
    padding: 4em 10em 3em;
    overflow: hidden;
  }
}
/* line 718, ../sass/_modules.scss */
.wo-questions .questions-holder .question .question-title, .wo-questions .questions-holder .question .selections {
  margin-bottom: 1rem;
}
/* line 722, ../sass/_modules.scss */
.wo-questions .questions-holder .question .question-title {
  font-size: 21.5946px;
}
@media (min-width: 480px) {
  /* line 722, ../sass/_modules.scss */
  .wo-questions .questions-holder .question .question-title {
    font-size: 28.43022px;
  }
}
/* line 733, ../sass/_modules.scss */
.wo-questions .questions-holder .question .options ul li.option-item {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 12.8px;
  font-weight: bold;
  color: #464841;
  cursor: pointer;
}
@media (min-width: 480px) {
  /* line 733, ../sass/_modules.scss */
  .wo-questions .questions-holder .question .options ul li.option-item {
    font-size: 16px;
  }
}
/* line 746, ../sass/_modules.scss */
.wo-questions .questions-holder .question .options ul li.option-item.show-all, .wo-questions .questions-holder .question .options ul li.option-item.cinemas {
  display: block;
}
/* line 750, ../sass/_modules.scss */
.wo-questions .questions-holder .question .options ul li.option-item.show-all {
  margin-bottom: 1rem;
  font-size: 16px;
}
@media (min-width: 480px) {
  /* line 750, ../sass/_modules.scss */
  .wo-questions .questions-holder .question .options ul li.option-item.show-all {
    font-size: 19.2px;
  }
}
/* line 758, ../sass/_modules.scss */
.wo-questions .questions-holder .question .options ul li.option-item.show-all div {
  padding-top: 7px;
}
/* line 764, ../sass/_modules.scss */
.wo-questions .questions-holder .question .options ul li.option-item.cinemas {
  margin-top: 0.7rem;
}
/* line 770, ../sass/_modules.scss */
.wo-questions .questions-holder .question .options ul li.option-item.option-selected div {
  color: white;
  background-color: black;
}
/* line 777, ../sass/_modules.scss */
.wo-questions .questions-holder .question .options ul li.option-item div {
  display: inline-block;
  border: 3px solid #464841;
  padding: 6px 6px 5px;
}
@media (min-width: 480px) {
  /* line 777, ../sass/_modules.scss */
  .wo-questions .questions-holder .question .options ul li.option-item div {
    padding-top: 7px;
  }
}
/* line 794, ../sass/_modules.scss */
.wo-questions .questions-holder .question .progress {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 798, ../sass/_modules.scss */
.wo-questions .questions-holder .question .progress .arrow-btn {
  cursor: pointer;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  /* line 798, ../sass/_modules.scss */
  .wo-questions .questions-holder .question .progress .arrow-btn {
    font-size: 19.2px;
  }
}
/* line 806, ../sass/_modules.scss */
.wo-questions .questions-holder .question .progress .arrow-btn img {
  height: 10px;
  width: auto;
}
/* line 810, ../sass/_modules.scss */
.wo-questions .questions-holder .question .progress .arrow-btn img.prev-question {
  margin-right: 0.5em;
}
/* line 814, ../sass/_modules.scss */
.wo-questions .questions-holder .question .progress .arrow-btn img.next-question {
  margin-left: 0.5em;
}
/* line 828, ../sass/_modules.scss */
.wo-questions .confirm {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #464841;
  color: #f5d606;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  transition: all 0.5s ease-out;
}
/* line 844, ../sass/_modules.scss */
.wo-questions .confirm:hover {
  background-color: #f5d606;
  color: #464841;
}
@media (min-width: 790px) {
  /* line 828, ../sass/_modules.scss */
  .wo-questions .confirm {
    bottom: 30px;
    max-width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

/* line 864, ../sass/_modules.scss */
#result {
  display: none;
}

/* line 873, ../sass/_modules.scss */
.perf-list-holder ul li {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
  font-size: 12.64198px;
}
@media (min-width: 790px) {
  /* line 873, ../sass/_modules.scss */
  .perf-list-holder ul li {
    font-size: 16px;
  }
}
/* line 882, ../sass/_modules.scss */
.perf-list-holder ul li .performance {
  padding: 7px;
  background-color: #eaeaea;
  width: 70%;
  display: -webkit-flex;
  display: flex;
}
@media (min-width: 790px) {
  /* line 882, ../sass/_modules.scss */
  .perf-list-holder ul li .performance {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 480px) {
  /* line 892, ../sass/_modules.scss */
  .perf-list-holder ul li .performance .perf-option {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 899, ../sass/_modules.scss */
.perf-list-holder ul li .performance .perf-option.extra-info {
  font-size: 11.37778px;
  font-style: italic;
  margin-top: 0.5em;
  color: #4d4d4d;
  display: block;
}
@media (min-width: 790px) {
  /* line 899, ../sass/_modules.scss */
  .perf-list-holder ul li .performance .perf-option.extra-info {
    font-size: 12.003px;
  }
}
/* line 912, ../sass/_modules.scss */
.perf-list-holder ul li .performance .perf-option div {
  margin-bottom: 0.4em;
}
/* line 915, ../sass/_modules.scss */
.perf-list-holder ul li .performance .perf-option div:last-child {
  margin-bottom: 0;
}
/* line 923, ../sass/_modules.scss */
.perf-list-holder ul li .performance .date-time {
  width: 36.5%;
}
@media (min-width: 480px) {
  /* line 923, ../sass/_modules.scss */
  .perf-list-holder ul li .performance .date-time {
    width: 42%;
  }
  /* line 929, ../sass/_modules.scss */
  .perf-list-holder ul li .performance .date-time div {
    width: 50%;
  }
}
@media (min-width: 480px) {
  /* line 937, ../sass/_modules.scss */
  .perf-list-holder ul li .performance .location {
    width: 58%;
  }
  /* line 942, ../sass/_modules.scss */
  .perf-list-holder ul li .performance .location .theatre {
    margin-right: 15px;
  }
}
/* line 952, ../sass/_modules.scss */
.perf-list-holder ul li .buy-button {
  width: 30%;
  background-color: #6f6f6f;
  text-align: center;
  text-transform: uppercase;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 962, ../sass/_modules.scss */
.perf-list-holder ul li .buy-button:hover {
  background-color: #d54d3a;
}
/* line 966, ../sass/_modules.scss */
.perf-list-holder ul li .buy-button a {
  color: white;
}

/* line 980, ../sass/_modules.scss */
.grid-item-open-holder {
  display: none;
  position: fixed;
  width: 100%;
  top: 77px;
  bottom: 0;
  left: 0;
  background-color: rgba(70, 72, 65, 0.95);
  z-index: 120;
}
/* line 990, ../sass/_modules.scss */
.grid-item-open-holder.opened {
  display: block;
}
/* line 993, ../sass/_modules.scss */
.grid-item-open-holder.opened .grid-item-open-inner {
  height: 100%;
  overflow-y: scroll;
}
@media (min-width: 790px) {
  /* line 993, ../sass/_modules.scss */
  .grid-item-open-holder.opened .grid-item-open-inner {
    overflow: hidden;
    position: relative;
  }
}
/* line 1003, ../sass/_modules.scss */
.grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus {
  cursor: auto;
}
@media (min-width: 790px) {
  /* line 1003, ../sass/_modules.scss */
  .grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus {
    width: 100%;
    position: absolute;
    float: none;
    height: 100%;
  }
}
/* line 1015, ../sass/_modules.scss */
.grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus .event-header {
  position: relative;
}
@media (min-width: 790px) {
  /* line 1015, ../sass/_modules.scss */
  .grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus .event-header {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #464841;
  }
}
/* line 1027, ../sass/_modules.scss */
.grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus .event-header img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 790px) {
  /* line 1027, ../sass/_modules.scss */
  .grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus .event-header img {
    margin: 0 auto;
    width: 100%;
  }
}
/* line 1039, ../sass/_modules.scss */
.grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus .bottom-info {
  display: block;
}
@media (min-width: 790px) {
  /* line 1039, ../sass/_modules.scss */
  .grid-item-open-holder.opened .grid-item-open-inner .event-grid-item.in-focus .bottom-info {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    width: 50%;
    right: 0;
  }
}
@media (min-width: 790px) {
  /* line 980, ../sass/_modules.scss */
  .grid-item-open-holder {
    top: 90px;
  }
}
@media (min-width: 1024px) {
  /* line 980, ../sass/_modules.scss */
  .grid-item-open-holder {
    top: 110px;
  }
}

/* line 1073, ../sass/_modules.scss */
.event-grid-item {
  background-color: #b4baae;
  cursor: pointer;
}
/* line 1077, ../sass/_modules.scss */
.event-grid-item.not-active {
  display: none;
}
/* line 1082, ../sass/_modules.scss */
.event-grid-item header.event-header img {
  display: block;
}
/* line 1088, ../sass/_modules.scss */
.event-grid-item header.event-header .title-copy .title-bkgrnd {
  margin-top: 0;
}
/* line 1091, ../sass/_modules.scss */
.event-grid-item header.event-header .title-copy .title-bkgrnd h4.title {
  font-size: 8vw;
  text-align: center;
}
@media (min-width: 480px) {
  /* line 1091, ../sass/_modules.scss */
  .event-grid-item header.event-header .title-copy .title-bkgrnd h4.title {
    font-size: 5vw;
  }
}
@media (min-width: 790px) {
  /* line 1091, ../sass/_modules.scss */
  .event-grid-item header.event-header .title-copy .title-bkgrnd h4.title {
    font-size: 3.5vw;
  }
}
/* line 1109, ../sass/_modules.scss */
.event-grid-item header.event-header .title-copy .title-bkgrnd p.subtitle {
  font-size: 6vw;
}
@media (min-width: 480px) {
  /* line 1109, ../sass/_modules.scss */
  .event-grid-item header.event-header .title-copy .title-bkgrnd p.subtitle {
    font-size: 3vw;
  }
}
@media (min-width: 790px) {
  /* line 1109, ../sass/_modules.scss */
  .event-grid-item header.event-header .title-copy .title-bkgrnd p.subtitle {
    font-size: 2.5vw;
  }
}
/* line 1130, ../sass/_modules.scss */
.event-grid-item header.event-header .top-info {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.7em;
  display: -webkit-flex;
  display: flex;
}
/* line 1142, ../sass/_modules.scss */
.event-grid-item header.event-header .top-info .dates-places {
  font-size: 14.22222px;
  width: 65%;
}
/* line 1146, ../sass/_modules.scss */
.event-grid-item header.event-header .top-info .dates-places .dates {
  margin-bottom: 0.3em;
  font-weight: bold;
}
/* line 1153, ../sass/_modules.scss */
.event-grid-item header.event-header .top-info .more-holder {
  width: 35%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/* line 1159, ../sass/_modules.scss */
.event-grid-item header.event-header .top-info .more-holder a {
  color: black;
}
/* line 1162, ../sass/_modules.scss */
.event-grid-item header.event-header .top-info .more-holder a:hover {
  color: #d54d3a;
}
/* line 1174, ../sass/_modules.scss */
.event-grid-item .bottom-info {
  display: none;
}
/* line 1177, ../sass/_modules.scss */
.event-grid-item .bottom-info.opened {
  display: block;
}
/* line 1181, ../sass/_modules.scss */
.event-grid-item .bottom-info .main-info, .event-grid-item .bottom-info .event-locations {
  padding: 0 3%;
}
/* line 1185, ../sass/_modules.scss */
.event-grid-item .bottom-info .main-info {
  margin-top: 0.5em;
}
/* line 1188, ../sass/_modules.scss */
.event-grid-item .bottom-info .main-info p {
  line-height: 1.4;
}
/* line 1192, ../sass/_modules.scss */
.event-grid-item .bottom-info .main-info .button-holder {
  text-align: right;
}
/* line 1195, ../sass/_modules.scss */
.event-grid-item .bottom-info .main-info .button-holder a.read-more {
  display: inline-block;
  padding: 0.5em 0.5em 0.3em;
  border: 1px solid #d54d3a;
  transition: all 0.5s ease-out;
}
/* line 1201, ../sass/_modules.scss */
.event-grid-item .bottom-info .main-info .button-holder a.read-more:hover {
  border: 1px solid black;
}
/* line 1211, ../sass/_modules.scss */
.event-grid-item .bottom-info .event-locations {
  margin-top: 1.3em;
}
/* line 1214, ../sass/_modules.scss */
.event-grid-item .bottom-info .event-locations h5 {
  margin-bottom: 0.9em;
}
/* line 1217, ../sass/_modules.scss */
.event-grid-item .bottom-info .event-locations .perf-option.location {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 1221, ../sass/_modules.scss */
.event-grid-item .bottom-info .event-locations .perf-option.location .city {
  font-weight: bold;
}
