@import url("//hello.myfonts.net/count/2e4218");
  
@font-face {
    font-family: 'Futura';
    src: url('fonts/2E4218_0_0.eot');
    src: url('fonts/2E4218_0_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/2E4218_0_0.woff2') format('woff2'),
         url('fonts/2E4218_0_0.woff') format('woff'),
         url('fonts/2E4218_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Futura';
    src: url('fonts/2E4218_1_0.eot');
    src: url('fonts/2E4218_1_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/2E4218_1_0.woff2') format('woff2'),
         url('fonts/2E4218_1_0.woff') format('woff'),
         url('fonts/2E4218_1_0.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Futura';
    src: url('fonts/2E4218_2_0.eot');
    src: url('fonts/2E4218_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/2E4218_2_0.woff2') format('woff2'),
         url('fonts/2E4218_2_0.woff') format('woff'),
         url('fonts/2E4218_2_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'Futura', Helvetica, sans-serif;
    font-size: $font-reg;
}
body.noscroll {
    overflow: hidden;
}

#{headings()} {
    font-weight: bold;
}

/* IE SVG HACK */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}

h1, h4.title {
    font-size: $mob-h1 * 0.7;
    
    @include breakpoint($large) {
        font-size: $h1;
    }
}

h2, h3.new-content-head, h3.related-head, p.subtitle {
    font-size: $mob-h2;
    
    @include breakpoint($large) {
        font-size: $h2;
    }
}

h3, h4, h2.subtitle {
    font-size: $mob-h3;
    
    @include breakpoint($large) {
        font-size: $h3;
    }
}

a {
    color: $red;
    text-decoration: none;
    
    &:hover {
        color: black;
    }
}

p {
    &.subtitle {
        font-size: $mob-h2 * 0.7;

        @include breakpoint($large) {
            font-size: $h2;
        }
    }
}

.small {
    
}