//Susy setup ------------------------------------
$total-columns        : 12;
$column-width         : 4em;
$gutter-width         : 1em;
$grid-padding         : $gutter-width;

@include border-box-sizing;

* { min-width: 0 }

//Content ------------------------------------

/*--------- BASE TEMPLATE HEADER ---------*/

.header-container {
    position: relative;
    z-index: 100;
    
    .wrapper {
        text-align: center;
        
        .header-top {
            position: fixed;
            top: 0px;
            width: 100%;
            background-color: $white-trans;
            
            .logo {
                position: relative;
                margin: 0 auto;
                height: 57px;
                text-align: center;
                margin-bottom: 20px;
                
                @include breakpoint($medium){
                    height: 70px;
                } // breakpoint medium
                
                @include breakpoint($large){
                    height: 90px;
                } // breakpoint large
                
            } // logo

            .menu-button {
                position: absolute;
                float: right;
                top: 5px;
                right: 2%;
                height: 50px;
                cursor: pointer;
                
                @include breakpoint($medium){
                    top: 10px;
                    height: 60px;
                } // breakpoint medium
                
                @include breakpoint($large) {
                    visibility: hidden;
                    top: 15px;
                    height: 70px;
                } // breakpoint large
                
            } // menu-button
            
            img {
                height: 100%;
            } // img
            
        } // header-top
        
        nav {
            position: fixed;
            background: white;
            text-align: left;
            padding: 1rem 0 0 1rem;
            height: 100%;
            width: 100%;
            left: 100%;
                
            &.nav-active {
                left: 0;
                @include animation(nav-keyframes 0.3s ease-out 0s 1 normal forwards);
            } // nav active
            
            @include breakpoint($large) {
                margin-top: 90px;
            } // breakpoint medium
            
            @include breakpoint($large) {
                position: static;
                margin-top: 110px;
                text-align: center;
                padding: 0;
                height: auto;
                left: auto;
                border-top: 1px solid $lightgray;
            } // breakpoint large
            
            ul.top-level {
                font-size: $mob-font-bigger;
                font-weight: bold;
                max-width: $xlarge;
                
                @include breakpoint($large) {
                    font-size: $font-smaller;
                    font-weight: normal;
                    text-transform: uppercase;
                    @include display-flex;
                    @include justify-content(space-around);
                    @include flex-wrap(wrap);
                    margin: 0 auto;
                } // breakpoint medium
                
                li {
                    margin-bottom: 1rem;
                    
                    @include breakpoint($medium){
                        margin: 0 0.6rem;
                        padding: 1rem;
                        letter-spacing: 0.03em;
                    } // breakpoint medium
                    
                    &.selected {
                        
                        @include breakpoint($medium){
                            font-weight: bold;
                        } // breakpoint medium
                        
                        a {
                            color: $red;
                        }// a
                        
                    } // selected
                    
                    a {
                        color: $gray;
                        transition: all 0.5s ease-out;
                        
                        &:hover {
                            color: $red;
                        } // hover
                        
                    } // link
                    
                } // li
                
            } // top level
            
            ////// WHATS ON QUESTIONS
            .undernav {
                display: none;
                position: fixed;
                width: 100%;
                top: 77px;
                bottom: 0;
                left: 0;
                background-color: rgba($red, 0.95);
                z-index: 20;
                overflow: hidden;

                &.opened {
                    display: block;
                }

                @include breakpoint($medium) {
                    top: 90px;
                } // breakpoint medium

                @include breakpoint($large) {
                    top: 155px;
                } // breakpoint medium
                
                .undernav-item {
                    width: 100%;
                    height: 100%;
                    display: none;
                    
                    &.vis {
                        @include display-flex;
                        @include align-items(center);
                        @include justify-content(center);
                    } // vis
                    
                    ul {
                        height: 100%;
                        padding-top: 2em;
                        @include display-flex;
                        @include flex-direction(column);
                        @include justify-content(flex-start);
                        
                        li {
                            margin-bottom: 1em;
                            font-weight: bold;
                            font-size: $font-reg * 1.1;
                            
                            h3 {
                                margin-bottom: 1.5rem;
                            }
                        } //
                    } // ul
                } // undernav item
                
                .close-btn {
                    position: relative;
                    z-index: 21;
                    float: right;
                    margin: 10px;
                    width: 15px;
                    height: 15px;

                    &::before {
                      content: "close";
                      margin-left: -38px;
                      text-transform: uppercase;
                      font-size: 10px;
                    } // before

                    @include breakpoint ($medium){
                        margin: 25px;
                        width: 25px;
                        height: 25px;

                        &::before {
                            font-size: $font-reg;
                            margin-top: 8px;
                            margin-left: -91px;
                            display: block;
                        } // before

                    } // breakpoint medium

                } // close button
                
            } // undernav
            
        } // nav
        
    } // wrapper
    
} // header-container


/*--------- PLAY HUB ---------*/

.main-container {
    margin-top: 77px;
    @include breakpoint ($medium) {
        margin-top: 90px;
    }
    @include breakpoint ($large) {
        margin-top: 0;
    } // breakpoint medium
    
    main {
        display: block;
        
        article {
            
            header {
                background-color: $lightgray;
                
                .content-header {
                    position: relative;
                    margin: 0 auto;
                    min-height: 400px;
                    @include container($xlarge);

                    @include breakpoint($medium) {
                        text-align: right;
                    } // breakpoint medium

                    .main-image {
                        position: relative;

                        @include breakpoint($medium) {
                            width: 50%;
                            float: left;
                        } // breakpoint medium

                        .main-image-holder {

                            img {
                                width: 100%;
                                display: block;
                            } // img

                        } // main-image-holder
                        
                    } // main-image
                    
                    h1 {
                        text-align: center;
                        padding: 0.7rem 1rem;

                        @include breakpoint($medium) {
                            text-align: left;
                            padding-top: 1.2rem;
                            font-size: $h1 * 0.7;
                        } // breakpoint medium
                        
                    } // h1
                    
                    .intro-boilerplate {
                        @include breakpoint($medium) {
                            display: none;
                        } // breakpoint medium
                        
                        padding-bottom: 15px;
                        h2 {
                            text-align: center;
                            padding: 15px 3%;
                        } // h2

                        p {
                            padding: 0 3%;
                        } // p
                    } // intro boilerplate
                    
                    .media-holder, .cast-creatives-holder, .gallery-holder, .buy-tickets-holder {
                        @include display-flex;
                        @include flex-direction(column);
                        @include justify-content(space-around);

                        @include breakpoint($medium) {
                            @include span(3 of 4);
                            min-height: 450px;
                        } // medium
                        
                        &~.intro-copy {
                            display: none;
                        } // intro copy collapse
                        
                    } // media, cast & creatives + gallery holders
                    
                    .media-holder {

                        .large-video-holder {
                            height: 100%;
                            background-color: darken($lightgray, 8);

                            @include breakpoint($medium) {
                                min-height: 400px;
                                @include display-flex;
                                @include flex-direction(column);
                                @include justify-content(center);
                            } // medium

                            iframe {
                                width: 100%;
                                display: block;
                            } // iframe for youtube

                        } // large video holder

                        .small-video-holder {
                            margin-bottom: 0.7rem;
                            
                            @include breakpoint($medium) {
                                margin-bottom: 1.2rem;
                                padding-left: 1rem;
                            } // medium
                            
                            iframe {
                                width: 100%;
                                height: 100%;
                                display: block;
                            } // iframe for youtube
                            
                        } // small video holder

                        .audio-embed {

                            @include breakpoint($medium) {
                                margin-bottom: 1.2rem;
                                padding-left: 1rem;
                            } // breakpoint medium

                            iframe {
                                width: 100%;
                                height: 100px;
                                display: block;
                            } // iframe

                        } // audio embed

                    } // media holder
                    
                    .cast-creatives-holder {
                        
                        @include breakpoint($medium) {
                            @include justify-content(flex-start);
                            text-align: left;
                        } // breakpoint medium
                        
                        h3 {
                            font-weight: normal;
                            margin-left: 0.3em;
                            margin-bottom: 0.3em;
                        } // h3
                        
                        .cc-wrapper .cast, .cc-wrapper .creatives {
                            
                            @include breakpoint($medium) {
                                display: inline-block;
                                height: 500px;
                            } // breakpoint medium
                            
                        } // cc-wrapper > cast & creatives
                        
                        .cc-wrapper .cast {
                            
                            @include breakpoint($medium) {
                                width: 65%;
                                max-width: 500px;
                            } // breakpoint medium
                            
                        } // cc-wrapper > cast & creatives
                        
                        .cc-wrapper .creatives {
                            
                            @include breakpoint($medium) {
                                width: 34%;
                                margin-top: 1rem;
                            
                                @include breakpoint($medium) {
                                    max-width: 250px;
                                } // breakpoint medium
                                
                                .cc-item {
                                    border: 0;
                                } // cc item
                                
                            } // breakpoint medium
                            
                        } // cc-wrapper > cast & creatives
                        
                        .cc-outer {
                            overflow-x: scroll;
                            margin-bottom: 1.3em;
                            
                            @include breakpoint($medium) {
                                overflow-x: auto;
                                overflow-y: scroll;
                                height: 100%;
                            } // breakpoint medium
                            
                        } // cc outer
                        
                        .cc-inner {
                            @include display-flex;
                            @include align-items(stretch);
                            padding-bottom: 10px;
                            
                            @include breakpoint($medium) {
                                @include flex-wrap(wrap);
                                @include justify-content(center);
                            } // breakpoint medium
                            
                            .cc-item {
                                text-align: center;
                                @include flex-shrink(0);
                                padding: 0 0.9em;
                                border-left: black solid 1px;
                                
                                @include display-flex(inline-flex);
                                @include align-items(center);
                                
                                &:first-child {
                                    padding-left: 0;
                                    border-left: 0;
                                } // first child
                                
                                @include breakpoint($medium) {
                                    
                                    margin-bottom: 1.5rem;
                                    
                                    &:nth-child(2n - 1) {
                                        border-left: 0;
                                    } // nth child
                                
                                    &:first-child {
                                        padding-left: 0.9em;
                                        border-left: 0;
                                    } // first child
                                    
                                    &:nth-child(2n - 2) {
                                        
                                        .headshot-thumb {
                                            @include order(-1);
                                            padding-left: 0;
                                            padding-right: 0.3em;
                                        } // headshot thumb
                                        
                                    } // nth child
                                    
                                } // breakpoint medium
                                
                                @include breakpoint($large) {
                                    
                                    padding-right: 1.5em;
                                    
                                    &:nth-child(2n - 2) {
                                        padding-left: 1.5em;
                                    } // nth child
                                    
                                } // breakpoint large
                                
                                .copy, .headshot-thumb {
                                    @include display-flex;
                                    @include flex-direction(column);
                                    @include justify-content(center);
                                } // copy, headshot thumb
                                
                                .copy {
                                    width: 6em;
                                    
                                    .cc-name, .cc-role {
                                        margin: 0.5em 0;
                                    } // cc name & role

                                    .cc-role {
                                        font-style: italic;
                                        font-size: $mob-font-smaller * 0.8;
                                    } // cc role
                                    
                                } // copy
                                
                                .headshot-thumb {
                                    width: 3.2rem;
                                    height: 4rem;
                                    padding-left: 0.3em;
                                    
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    } // img
                                    
                                } // headshot thumb
                                
                            } // cc item
                            
                        } // cc inner
                        
                    } // cast creatives holder
                    
                    .gallery-holder {
                        .gallery-wrapper {
                            text-align: center;
                            img {
                                
                                &.gall-placeholder-mob {
                                    width: 100%;
                                    height: auto;
                                    
                                    @include breakpoint($medium) {
                                        display: none;
                                    } // breakpoint medium
                                } // mob placeholder
                                
                                &.gall-placeholder-large {
                                    display: none;
                                    width: 90%;
                                    height: auto;
                                    
                                    @include breakpoint($medium) {
                                        display: inline-block;
                                        margin-bottom: 1.5em;
                                        
                                    } // breakpoint medium
                                } // mob placeholder
                            } // img
                        } // gallery wrapper
                    } // gallery holder
                    
                    .buy-tickets-holder {
                        
                        @include breakpoint($medium) {
                            text-align: left;
                        } // breakpoint medium
                        
                        .buy-tickets-filters {
                            font-size: $mob-font-smaller;
                            padding: 0 3%;
                            
                        } // buy tickets filters
                        
                        .buy-tickets-list {
                            margin-top: 1.5rem;
                            padding: 0 3%;
                            
                            .buy-tickets-sorting {
                                
                            } // buy tickets sorting
                            
                            .perf-list-holder {
                                ul {
                                    li {
                                        .performance {
                                            .perf-option {
                                                &.extra-info {
                                                } // extra info
                                            } // perf option
                                            .date-time {
                                            } // date time
                                            .location {
                                                .theatre {
                                                } // theatre
                                            } // location
                                        } // performance
                                        .buy-button {
                                        } // buy button
                                    } // li
                                } // ul
                            } // perf list holder
                        } // buy tickets list
                    } // buy tickets holder
                    
                    .intro-copy {
                        padding: 40px 15px 0;
                        background-color: white;
                        text-align: left;
                        
                        @include breakpoint($small){
                            @include span(4 of 4);
                        } // breakpoint small

                        @include breakpoint($intro-break){
                            width: 25%;
                            background-color: inherit;
                            padding: 15px;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                        } // breakpoint intro-break

                        p {
                            line-height: 1.5rem;
                            font-size: $mob-font-bigger;
                            max-width: 57rem;
                            padding: 0 3%;
                            margin: 0 auto;

                            @include breakpoint($medium) {
                                display: block;
                                font-size: $font-bigger;
                                line-height: 1.7rem;
                            } // breakpoint medium

                            @include breakpoint($intro-break) {
                                padding: 0;
                            } // breakpoint intro break

                        } // p

                    } // intro copy

                    aside.side-info {
                        text-align: center;
                        padding: 20px 0;

                        @include breakpoint($small){
                            padding: 15px 10px 5px;
                        } // breakpoint small

                        @include breakpoint($medium) {
                            display: inline-block;
                            text-align: right;
                            height: 100%;
                            float: none;
                            width: 24.5%;
                        } // breakpoint medium

                        @include breakpoint($intro-break){
                            padding: 20px 20px 20px 0;
                        } // breakpoint intro-break

                        .time-place {

                            @include breakpoint($small) {
                                text-align: left;
                                @include span(2 of 4);
                            } // breakpoint small

                            @include breakpoint($medium) {
                                display: block;
                                width: auto;
                                text-align: right;
                                float: none;
                            } // breakpoint medium

                            ul {

                                li {
                                    margin-bottom: 8px;

                                    @include breakpoint($large) {
                                        font-size: $font-bigger;
                                    } // breakpoint large

                                    &.on-tour, &.in-cinemas {
                                        margin-bottom: 20px;
                                    } // on-tour & in cinemas

                                    &.on-tour {

                                        @include breakpoint($medium){
                                            position: relative;
                                        } // breakpoint medium

                                        a {
                                            color: black;

                                            &:hover {
                                                color: $red;
                                            } // hover

                                        } // links

                                        ul.on-tour-list {
                                            display: none;
                                            background-color: darken($lightgray, 5);
                                            padding: 10px;

                                            @include breakpoint($medium){
                                                position: absolute;
                                                top: -10px;
                                                left: -220px;
                                                z-index: 2;
                                            } // breakpoint medium

                                            &.on-tour-active {
                                                display: block;
                                                @include breakpoint($medium){
                                                    @include animation(tour-list-keys 0.3s ease-out 0s 1 normal forwards);
                                                } // breakpoint medium

                                            } // on tour active

                                            li {
                                                margin-bottom: 10px;

                                                &:last-child {
                                                    margin-bottom: 0;
                                                } // last child

                                            } // li

                                        } // on tour list

                                    } // on tour

                                    .date {
                                        color: white;
                                        font-size: $mob-font-smaller;
                                        margin-top: 3px;
                                        font-style: italic;
                                        /* text-transform: uppercase; */

                                        @include breakpoint($medium) {
                                            font-size: $font-reg;
                                        } // breakpoint medium

                                    } // date

                                } // li

                            } // ul
                            
                            .timing, .pricing {
                                font-size: $mob-font-smaller;
                                color: white;
                                margin-bottom: 10px;
                            } // timing & pricing

                        } // time-place

                    } // side-info

                    .side-menu {
                        padding: 25px 0 0;
                        text-transform: uppercase;
                        text-align: center;

                        @include breakpoint($small) {
                            margin-top: 0;
                            padding: 15px 10px;
                            text-align: right;
                            display: inline-block;
                            @include span(2 of 4);
                        } // breakpoint small

                        @include breakpoint($medium) {
                            float: none;
                            width: auto;
                            padding: 15px 0 0;
                        } // breakpoint medium

                        @include breakpoint($intro-break) {
                            padding: 20px 20px 20px 0;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        } // breakpoint intro break

                        .buy-tickets {
                            font-size: $mob-font-bigger;
                            margin-bottom: 15px;

                            @include breakpoint($large) {
                                font-size: $h3 * 0.8;
                            } // breakpoint large

                        } //buy tickets

                        .sub-nav {

                            ul {

                                li {
                                    margin-bottom: 7px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    } // last child

                                    &.selected {
                                        font-weight: bold;
                                    } // selected

                                } // li

                            } // ul

                            .sub-nav-more {
                                margin-top: 10px;

                                &:hover {
                                    color: $red;
                                } // hover

                                @include breakpoint($medium){
                                    position: relative;
                                } // breakpoint medium
                                
                                .sub-nav-extras {
                                    display: none;
                                    background-color: darken($lightgray, 5);
                                    padding: 10px;

                                    @include breakpoint($medium){
                                        position: absolute;
                                        bottom: -10px;
                                        right: 200px;
                                        z-index: 2;
                                    } // breakpoint medium

                                    &.sub-nav-active {
                                        display: block;

                                        @include breakpoint($medium){
                                            @include animation(sub-nav-keys 0.3s ease-out 0s 1 normal forwards);
                                        } // breakpoint medium

                                    } // sub nav active

                                    ul {

                                        li {
                                            margin-bottom: 7px;

                                            &:last-child {
                                                margin-bottom: 0;
                                            } // last child

                                        } // li

                                    } // ul

                                } // sub nav extras

                            } // sub nav more

                        } // sub nav

                        a {
                            color: black;
                            transition: all 0.5s ease-out;

                            &:hover {
                                color: $red;
                            } // hover

                        } // links

                    } // side menu
                } // wrapper
                
                    
                .intro-bp-large {
                    display: none;
                    background-color: white;
                    text-align: center;
                    font-size: $font-reg * 1.2;
                    padding-bottom: 15px;
                    padding-top: 2em;
                    @include breakpoint($medium) {
                        display: block;
                    } // breakpoint medium
                    
                    h2 {
                        text-align: center;
                        padding: 15px 3%;
                    } // h2

                    p {
                        padding: 0 3%;
                    } // p
                } // intro bp large
            } // header
            
            section {
                padding-top: 40px;
                
            } // section
            
            section.main-copy {
                
                p, h2, h3 {
                    padding: 0 3%;
                    margin-left: auto;
                    margin-right: auto;
                    
                    @include breakpoint($medium) {
                        max-width: 57rem;
                        padding: 0 5%;
                    } // breakpoint medium
                    
                } // p, h2, h3
                
                h2 {
                    margin-bottom: 30px;
                    line-height: 1.3em;
                    
                    @include breakpoint($medium) {
                        margin-bottom: 40px;
                        padding: 0;
                    } // breakpoint medium
                    
                } // h2
                
                h3 {
                    margin-bottom: 10px;
                    line-height: 1.2em;
                    
                    @include breakpoint($medium) {
                        margin-bottom: 20px;
                    } // breakpoint medium
                    
                } // h3
                
                p {
                    line-height: 1.5em;
                    
                    @include breakpoint($medium) {
                        margin: 0 auto 30px;
                    } // breakpoint medium
                    
                    &:last-child {
                        margin-bottom: 0;
                    } // last child
                    
                } // p
                
                figure {
                    max-width: 400px;
                    margin: 0 auto 30px;
                    
                    img {
                        width: 100%;
                    } // image left float
                    
                    figcaption {
                        font-size: $mob-font-smaller * 0.85;
                        line-height: 1.2em;
                        color: lighten($gray, 40);
                    } // figcaption
                }
                
                .left-float-img-holder {
                    
                    @include breakpoint($medium){
                        float: left;
                        margin: 0 2% 0 ;
                    } // breakpoint medium
                    
                    @include breakpoint($large){
                        margin-left: 9%;
                    } // breakpoint large
                    
                } // left float image holder
                
                .right-float-img-holder {
                    
                    @include breakpoint($medium){
                        float: right;
                        margin: 0 2%;
                    } // breakpoint medium
                    
                    @include breakpoint($large){
                        margin-right: 9%;
                    } // breakpoint large
                    
                } // left float image holder
                
            } // main copy
            
            section.newest-content, section.quick-links, section.visit-us, section.exhibitions {
                padding-left: 5%;
                padding-right: 5%;
                
                @include breakpoint($medium) {
                    padding-left: 3%;
                    padding-right: 3%;
                } // breakpoint medium
                
                h3 {
                    margin-bottom: 30px;
                    
                    @include breakpoint($medium) {
                        margin-bottom: 40px;
                    } // breakpoint medium
                    
                } // h3
            }
            
            section.newest-content {
                
                .new-content-items {
                    
                    @include breakpoint($medium) {
                        text-align: center;
                    } // breakpoint medium
                    
                    .new-content-holder {
                        min-height: 160px;
                        @include display-flex;
                        @include flex-direction(column);
                        @include justify-content(center);
                        @include align-items(center);
                        margin-bottom: 20px;
                        text-align: center;
                        
                        @include breakpoint($medium){
                            @include display-flex(inline-flex);
                            vertical-align: top;
                            width: 210px;
                            margin: 0 15px 20px;
                        } // breakpoint medium

                        &.video {
                            background: url(../img/video_bkgrnd.png) top left no-repeat;
                            background-size: 100% 100%;

                            @include breakpoint($medium){
                                min-width: 270px;
                            } // breakpoint medium
                            
                        } // video

                        &.image {
                            background: url(../img/image_bkgrnd.png) top left no-repeat;
                            background-size: 100% 100%;
                        } // image
                        
                        &.interview {
                            background: url(../img/Interviews.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.season {
                            background: url(../img/season.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.access {
                            background: url(../img/Access.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.article {
                            background: url(../img/Articles.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.edact {
                            background: url(../img/edact.jpg) top left no-repeat;
                            background-size: cover;
                        }

                        &:last-child {
                            margin-bottom: 0;
                            
                            @include breakpoint($medium){
                                margin-bottom: 20px;
                            } // breakpoint medium
                            
                        } // last child
                        
                        a:hover {
                            color: $lightergray;
                        }

                    } // new content holder
                    
                } // new content items
                
            } // newest content
            
            section.related {
                margin-top: 40px;
                padding: 40px 5%;
                background-color: $lightgray;
                
                @include breakpoint($medium) {
                    padding: 60px 3%;
                } // breakpoint medium
                
                h3.related-head {
                    margin-bottom: 30px;
                } // h3.related-head
                
                .related-items {
                    @include display-flex;
                    @include flex-flow(row wrap);
                    
                    @include breakpoint($medium) {
                        @include flex-flow(column wrap);
                        @include justify-content(space-around);
                        @include align-content(space-around);
                        max-height: 200px;
                        position: relative;
                        margin: 0 auto;
                    } // breakpoint medium
                    
                    .related-holder {
                        background: url(../img/related_bkgrnd.png) top left no-repeat;
                        background-size: 100% 100%;
                        margin-bottom: 10px;
                        padding: 15px;
                        
                        h4 {
                            font-weight: normal;
                            text-transform: uppercase;
                        } // h3

                        &.large {
                            height: 200px;
                            @include flex-grow(1);
                            @include flex-basis(100%);
                            
                            @include display-flex;
                            @include flex-direction(column);
                            @include justify-content(flex-end);
                            
                            @include breakpoint($medium){
                                flex-grow: 0;
                                @include flex-basis(auto);
                                width: 29%;
                            } // breakpoint medium
                            
                        } // large

                        &.medium {
                            height: 150px;
                            @include flex-grow(1);
                            @include flex-basis(100%);
                            
                            @include display-flex;
                            @include flex-direction(column);
                            @include justify-content(flex-end);
                            
                            @include breakpoint($medium){
                                @include flex-grow(0);
                                @include flex-basis(auto);
                                width: 19%;
                                height: 200px;
                                @include justify-content(flex-start);
                            } // breakpoint medium
                            
                        } // medium

                        &.small {
                            height: 75px;
                            text-align: center;
                            @include flex-grow(2);
                            @include flex-basis(45%);
                            
                            @include display-flex;
                            @include flex-direction(column);
                            @include justify-content(center);
                            @include align-items(center);
                            
                            @include breakpoint($medium){
                                height: 90px;
                                @include flex-grow(0);
                                @include flex-basis(auto);
                                width: 19%;
                            } // breakpoint medium
                            
                            &:nth-child(odd) {
                                margin-left: 2%;
                                
                                @include breakpoint($medium){
                                    margin-left: 0;
                                } // breakpoint medium
                                
                            } // small last child
                            
                            h4 {
                                font-size: $mob-font-bigger;
                            } // h4
                            
                        } // small
                        
                        &.workshop {
                            background: url(../img/workshops.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.shakespeares {
                            background: url(../img/Shakespeares-plays-1.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.event{
                            background: url(../img/exhibition.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.shop {
                            background: url(../img/shop.jpg) top left no-repeat;
                            background-size: cover;
                        }
                        &.blogs {
                            background: url(../img/blogs.jpg) top left no-repeat;
                            background-size: cover;
                        }

                    } // related-holder
                    
                } // related items
                
            } // related
            
        } // article
        
    } // main
    
} // main-container

.footer-container {
    @include span(4 of 4);
    padding: 40px 0;
    
    footer {
        
        h3 {
            text-align: center;
            text-transform: uppercase;
        } // h3
        
        img {
            width: 100%;
            height: auto;
        } // img
        
    } //footer
    
} // footer container

// END PLAY HUB


/*--------- WHATS ON ---------*/

.main-container {
    main.whatson {
        article { 
            header {
                .content-header {
                    min-height: inherit;
                    
                    h1 {

                        @include breakpoint($medium) {
                            padding: 1.2rem 3%;
                        } // breakpoint medium
                        
                    } // h1
                } // content header
            } // header
            section {
                padding-top: 0;
                
                &.filters {
                    background-color: $lightgray;
                    
                    .filter-inner {
                        max-width: $xlarge;
                        margin: 0 auto;
                        padding: 0 3%;
                    } // filter inner
                    
                } // filters
                
                &.results {
                    
                    @include breakpoint($small){
                        
                    } // breakpoint small
                    
                    .event {
                        
                        @include breakpoint($small){
                            @include span(1 of 2);
                        } // breakpoint small
                        
                        @include breakpoint($medium) {
                            @include span(1 of 3);
                        } // breakpoing medium
                        
                        .event-header{
                            position: relative;
                            
                            img {
                                width: 100%;
                            } // img
                            
                        } // event header
                        
                    } // event
                    
                } // results
                
            } // section
        } // article
    } // main
} // main container