////// ANIMATIONS

@include keyframes(nav-keyframes){
      0% { opacity: 0; left: 100%; }
    100% { opacity: 1; left: 0%; }
}

@include keyframes(tour-list-keys) {
      0% { opacity: 0; left: -120px; }
    100% { opacity: 1; left: -220px; }
}

@include keyframes(sub-nav-keys) {
      0% { opacity: 0; right: 120px; }
    100% { opacity: 1; right: 200px; }
}



////// CLOSE BUTTON

.close-btn {
    cursor: pointer;
    background: url(../img/icon-close.svg) top left no-repeat;
    background-size: auto 100%;
} // close button



////// TITLE TREATMENTS

.title-copy {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    text-align: center;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(stretch);

    .title-bkgrnd {
        padding: 1rem 0;
        width: 100%;
        margin-top: 20%;
        position: relative;

        .bkgrnd-strip {
            background-color: rgba($red-overlay, 0.5);
            /* mix-blend-mode: overlay; */
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        } // bkground strip

        .title, .subtitle {
            color: white;
            position: relative;
            z-index: 3;
        } // title & subtitle

        .title {
            text-transform: uppercase;
            text-align: center;
            padding: 0.7rem 1rem;
            
            @include breakpoint($medium) {
                padding-top: 1.2rem;
                font-size: $h1 * 0.7;
            } // breakpoint medium
            
        } // title

        .subtitle {
            font-weight: normal;
        } //subtitle

    } // bkgrnd-strip

} // title-copy



////// HOMEPAGE CAROUSEL
.homepage-carousel {
    overflow: hidden;
    
    .homepage-carousel-wrapper {
        
        @include breakpoint($medium){
            @include display-flex;
            @include align-items(stretch);
        } // breakpoint medium
        
        .carousel-item {
            @include flex-shrink(0);
            width: 100%;
            
            @include breakpoint($medium) {
                @include display-flex;
                @include align-items(stretch);
                position: relative;
            } // breakpoint medium

            .side-info {
                display: none;

                @include breakpoint($medium) {
                    position: absolute;
                    display: block;
                    @include display-flex;
                    @include flex-direction(column);
                    @include justify-content(space-between);
                    width: 50%;
                } // breakpoint medium

                &.active {
                    display: block;
                } // active

                .intro-copy {
                    background-color: inherit;
                    padding: 0px 15px 30px;
                    text-align: center;
                    
                    @include breakpoint($medium) {
                        position: static;
                        width: auto;
                        padding: 10% 8% 0;
                    } // breakpoint medium
                    
                } // intro copy
                .bottom-info {
                    @include display-flex;
                    @include justify-content(space-between);
                    @include align-items(flex-end);
                    padding: 0 3%;
                    
                    @include breakpoint($medium) {
                        padding-right: 0;
                    } // breakpoint medium
                    
                    .side-menu {
                        padding: 0;
                        text-align: left;
                        
                        @include breakpoint($medium){
                            position: static;
                        } // breakpoint medium
                        
                        .buy-tickets {
                        } // buy tickets
                        .read-more {
                            font-size: $mob-font-bigger;
                        } // read more

                    } // side menu

                    .time-place {
                        text-align: right;
                        padding: 0;
                        width: 50%;
                        ul {
                            li {
                                margin-bottom: 6px;

                                &.in-cinemas {
                                    margin-bottom: 6px;
                                } // in cinemas

                                &:last-child {
                                    margin-bottom: 0;
                                } // last child

                            } // li
                        } // ul
                    } // time place
                } // bottom info
            } // side-info
        } // carousel item
    } // carousel wrapper
} // homepage carousel



////// QUICK LINKS
section.quick-links {
    ul {
        li {
            display: inline-block;
            padding: 0.7em;
            background-color: $lightgray;
            text-transform: uppercase;
            margin-right: 1em;
            margin-bottom: 1em;
            
            a {
                color: white;
                
                &:hover {
                    color: $red;
                }
            }
        } // li
    } // ul
} // quick links



////// VISIT US SECTION
section.visit-us {
    @include breakpoint($medium) {
        @include span(4 of 7);
    } // breakpoint medium
    
    .visiting-scroller {
        overflow-x: scroll;
        height: 12em;
        
        @include breakpoint($medium) {
            height: auto;
            overflow: hidden;
        } // medium
        
        .visiting-wrapper {
            @include display-flex;
            @include align-items(center);
            
            @include breakpoint($medium) {
                @include flex-wrap(wrap);
                @include align-content(space-around);
            } // breakpoint medium
            
            a {
                display: block;
                @include flex-shrink(0);
                position: relative;
                margin-right: 0.75em;
                
                @include breakpoint($medium){
                    @include flex-shrink(1);
                    width: 47%;
                    margin-right: 1em;
                    margin-bottom: 1em;
                } // breakpoint medium
                
                &:last-child {
                    margin-right: 0;
                } // last child
            }
            
            .visiting-item {
                height: 12rem;
                width: 12rem;
                padding: 1.5em;
                color: white;
                
                @include breakpoint($medium){
                     width: 100%;
                } // breakpoint medium
                
                
                &#visiting-1 {
                    background: url(../img/visiting.jpg);
                    background-size: cover;
                }
                
                &#visiting-2 {
                    background: url(../img/tour.jpg);
                    background-size: cover;
                }
                
                &#visiting-3 {
                    background: url(../img/tour-2.jpg);
                    background-size: cover;
                }
                
                &#visiting-4 {
                    background: url(../img/opening-times.jpg);
                    background-size: cover;
                }
                
                img {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    
                } // img
                
                h4 {
                    position: relative;
                    z-index: 5;
                    text-align: center;
                    font-weight: normal;
                    text-transform: uppercase;
                } // h4
                
            } // visiting item
        } // visiting wrapper
    } // visiting scroller
} // section visit us



////// EXHIBITIONS SECTION
.exhibitions {
    @include breakpoint($medium){
        @include span(3 of 7);
    }
    
    .exhibs-holder {
        position: relative;
        border: 2px solid $gold;
        
        &:hover > h3 {
            background-color: rgba($gray, 0.7);
            color: white;
        } //
        
        img {
            width: 100%;
            height: auto;
            display: block;
        } // img
        
        h3 {
            display: block;
            position: absolute;
            z-index: 5;
            margin-bottom: 0;
            top: 50%;
            width: 100%;
            background-color: rgba(white, 0.7);
            color: $gray;
            padding: 1em;
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
        } // h3
    } // exhibs-holder
} // exhibitions



////// NEWS SECTION
section.related.news {
    @include breakpoint($medium) {
        @include span(4 of 4);
    } // breakpoint medium
    
    .related-items.news-items {
        @include breakpoint($medium) {
            @include flex-flow(row);
            max-height: none;
        } // breakpoint medium
        
        .related-holder.large.news {
            height: 300px;
            padding: 0;
            
            &#news1 {
                background: url(../img/news-item-1.jpg) top left no-repeat;
                background-size: cover;
            }
            
            &#news2 {
                background: url(../img/news-item-2.jpg) top left no-repeat;
                background-size: cover;
            }
            
            &#news3 {
                background: url(../img/news-item-3.jpg) top left no-repeat;
                background-size: cover;
            }
            
            .news-header {
                background-color: rgba(white, 0.7);
                padding: 1em;
                
                h4 {
                    margin-bottom: 1em;
                } // h4
            } // related holder
        } // news header
    } // news items
} // news



////// HOMEPAGE FOOTER
.homepage-footer {
    footer {
        @include breakpoint($medium){
            @include span(4 of 4);
            
        }
    }
}



////// + MORE & - LESS BUTTONS
.more-button, .less-button {
    transition: all 0.5s ease-out;
    cursor: pointer;
    
    &::before {
        font-weight: bold;
    } // before
    
} // more + less

.more-button {

    &.open {
        display: none;
    } // open

    &::before {
        content: "+ ";
    } // before
    
} // more button

.less-button {
    display: block;

    &.closed {
        display: none;
    } // closed

    &::before {
        content: "- ";
    } // before

} // less button



////// FILTER ITEMS + DATE RANGE SLIDER
.filter-item {
    background-color: $filter-gray;
    @include border-radius(4px);
    padding: 0.2em;
    margin-bottom: 1.5rem;
    
    h6 {
        font-weight: normal;
        padding: 10px 10px 10px 5px;
        font-size: 1.5rem;
    } // h6

    &.place {

        @include breakpoint($small){
            max-width: 450px;
            @include display-flex;
            @include justify-content(flex-start);
        } // breakpoint small

    } // place

    &.timeslot {
        max-width: 250px;
    } // timeslot

    &.deals, &.quick-search, &.change-view {
        display: inline-block;
    } // deals & quick search & change view
    
    &.showing {
        @include breakpoint($medium){
            max-width: 50%;
        } // breakpoint medium
        .selected {
            @include border-radius(4px);
            border: 1px solid lighten($gray, 50);
            padding-top: 8px;
            font-size: 12px;
            margin-left: 5px;
            margin-bottom: 5px;
        } // selected
        
    } // showing
    
    &.quick-search {
       .searchBox {
           &.hidden {
               display: none;
           }
       }
    } // quick search

    &.change-view {
        
        @include breakpoint($small) {
            margin-right: 1.5rem;
        } // breakpoint small

        @include breakpoint($medium) {
            margin-bottom: 1.5rem;
        } // breakpoint medium
        
        .filter-option {
            padding-left: 0;
        } // filter option

    } // change view

    .filter-option, .filter-label {
        display: inline-block;
        padding: 10px;
    } // filter option, filter label

    .filter-option {
        font-size: $mob-font-smaller * 0.8;
        
        @include breakpoint($medium) {
            font-size: $font-reg;
        } // breakpoint medium
        
        &.disabled {
            color: grey;
        }
        
        img {
            display: inline-block;
            margin-right: 5px;
            vertical-align: text-bottom;
            width: 15px;
            height: 15px;
        } // img

    } // filter option
    
    .filter-button {
        text-transform: uppercase;
        padding: 6px;
        margin-right: 0.7em;
        cursor: pointer;
        
        &.change-filter {
            text-align: right;
            display: block;
            
            a {
                display: inline-block;
                width: 49%;
            }
            #changeSelections {
                text-align: left;
            }
            #resetSelections {
                text-align: right;
            }
        } // change filter
        
        img {
            margin-left: 6px;
            height: 15px;
            
            @include breakpoint($medium) {
                margin-bottom: 2px;
            } // breakpoint medium
            
        } // img
        
    } // filter button

    .sub-filter {
        border-bottom: 1px solid white;

        &:last-child {
            border-bottom: 0;
            border-right: 0;
        } // last child

        &.location {

            @include breakpoint($small) {
                width: 65%;
            } // breakpoint small

        } // location

        @include breakpoint($small) {
            border-bottom: 0;
            border-right: 1px solid white;
            display: inline-block;
        } // breakpoint medium

    } // sub filter

} // filter item

.date-range {
    padding: 0 3%;

    @include breakpoint($small) {
        padding: 0;
    } // breakpoint small

} // date range



////// WHATS ON QUESTIONS
.wo-questions {
    display: none;
    position: fixed;
    width: 100%;
    top: 77px;
    bottom: 0;
    left: 0;
    background-color: rgba($almost-white, 0.95);
    z-index: 120;
    overflow-x: hidden;
    
    &.opened {
        display: block;
    }
    
    @include breakpoint($medium) {
        top: 90px;
    } // breakpoint medium
    
    @include breakpoint($large) {
        top: 110px;
    } // breakpoint medium
    
    .close-btn {
        position: relative;
        z-index: 21;
        float: right;
        margin: 10px;
        width: 15px;
        height: 15px;
        
        &::before {
          content: "close";
          margin-left: -38px;
          text-transform: uppercase;
          font-size: 10px;
        } // before
        
        @include breakpoint ($medium){
            margin: 25px;
            width: 25px;
            height: 25px;
            
            &::before {
                font-size: $font-reg;
                margin-top: 8px;
                margin-left: -61px;
                display: block;
            } // before
            
        } // breakpoint medium
        
    } // close button
    
    .questions-holder {
        position: absolute;
        top: 0;
        bottom: 40px;
        width: 100%;
        left: 0;
        @include display-flex;
        @include align-items(stretch);
        @include justify-content(center);
        transition: left 0.6s ease-out;
        
        &.what-pos {
            left: 0;
        }
        
        &.where-pos {
            left: -100%;
        }
        
        &.when-pos {
            left: 100%;
        }
        
        .question {
            width: 100%;
            @include flex-shrink(0);
            display: inline-block;
            overflow-y: scroll;
            padding: 2em 1em 1em;
            
            @include display-flex();
            @include flex-direction(column);
            @include justify-content(space-between);
            
            @include breakpoint($medium) {
                padding: 4em 10em 3em;
                overflow: hidden;
            } // breakpoint medium
            
            &.what {
            } // what

            &.where {
            } // where

            &.when {
            } // when
            
            .question-title, .selections {
                margin-bottom: 1rem;
            } // question title & selections
            
            .question-title {
                font-size: $mob-h3 * 0.9;
                
                @include breakpoint($small) {
                    font-size: $h3;
                } // breakpoint small
                
            } // question title
            
            .options {
                ul {
                    li.option-item {
                        display: inline-block;
                        margin-bottom: 8px;
                        margin-right: 8px;
                        font-size: $font-reg * 0.8;
                        font-weight: bold;
                        color: $gray;
                        cursor: pointer;
                        
                        @include breakpoint($small) {
                            font-size: $font-reg;
                        } // breakpoint small
                        
                        &.show-all, &.cinemas {
                            display: block;
                        } // show all & in cinemas
                        
                        &.show-all {
                            margin-bottom: 1rem;
                            font-size: $font-reg;
                            
                            @include breakpoint($small) {
                                font-size: $font-reg * 1.2;
                            } // breakpoint small
                            
                            div {
                                padding-top: 7px;
                            } // div
                            
                        } // show all

                        &.cinemas {
                            margin-top: 0.7rem;
                        } // cinemas
                        
                        &.option-selected {
                            
                            div {
                                color: white;
                                background-color: black;
                            } // div
                            
                        } // selected

                        div {
                            display: inline-block;
                            border: 3px solid $gray;
                            padding: 6px 6px 5px;
                            
                            @include breakpoint($small) {
                                padding-top: 7px;
                            } // breakpoint small
                            
                        } // div
                    
                    } // li.sel-option

                } // selection options
                
            } // selections
            
            .progress {
                @include display-flex;
                @include justify-content(space-between);
                
                .arrow-btn {
                    cursor: pointer;
                    text-transform: uppercase;
                    
                    @include breakpoint($small) {
                        font-size: $font-reg * 1.2;
                    } // breakpoint small
                    
                    img {
                        height: 10px;
                        width: auto;
                        
                        &.prev-question {
                            margin-right: 0.5em;
                        } // prev question
                        
                        &.next-question {
                            margin-left: 0.5em;
                        } // prev question
                        
                    } // img
                    
                } // arrow btn
                
            } // progress
            
        } // single question
        
    } // questions holder
    
    .confirm {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: $gray;
        color: $gold;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        @include display-flex;
        @include justify-content(center);
        @include align-items(center);
        
        transition: all 0.5s ease-out;
        
        &:hover {
            background-color: $gold;
            color: $gray;
        } //hover
        
        @include breakpoint($medium) {
            bottom: 30px;
            max-width: 500px;
            margin: 0 auto;
            left: 0;
            right: 0;
        } // breakpoint medium
        
    } // confirm
    
} // whats on questions holder



////// What's On UI
#result {
    display: none;
}



////// PERFORMANCE LIST HOLDER
.perf-list-holder {
    ul {
        li {
            @include display-flex();
            margin-bottom: 10px;
            font-size: $mob-font-smallest;
            
            @include breakpoint($medium) {
                font-size: $font-reg;
            } // breakpoint medium

            .performance {
                padding: 7px;
                background-color: $lightergray;
                width: 70%;
                @include display-flex;
                
                @include breakpoint($medium) {
                    @include flex-wrap(wrap);
                } // breakpoint medium

                .perf-option {

                    @include breakpoint($small){
                        @include display-flex(inline-flex);
                        @include flex-wrap(wrap);
                    } // breakpoint small

                    &.extra-info {
                        font-size: $mob-font-smallest * 0.9;
                        font-style: italic;
                        margin-top: 0.5em;
                        color: lighten(black, 30);
                        display: block;

                        @include breakpoint($medium){
                            font-size: $font-smaller;
                        } // breakpoint medium

                    } // extra info

                    div {
                        margin-bottom: 0.4em;

                        &:last-child {
                            margin-bottom: 0;
                        } // last child

                    } // div

                } // perf option

                .date-time {
                    width: 36.5%;

                    @include breakpoint($small) {
                        width: 42%;

                        div {
                            width: 50%;
                        } // div

                    } // breakpoint small

                } // date time

                .location {

                    @include breakpoint($small) {
                        width: 58%;

                        .theatre {
                            margin-right: 15px;
                        } // theatre

                    } // breakpoint small

                } // location

            } // performance

            .buy-button {
                width: 30%;
                background-color: $darkgray;
                text-align: center;
                text-transform: uppercase;
                color: white;
                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                
                &:hover {
                    background-color: $red;
                }
                
                a {
                    color: white;
                }
            } // buy button

        } // li

    } // ul

} // perf list holder



////// WHAT'S ON EVENT BOX - GRID VIEW
.grid-item-open-holder {
    display: none;
    position: fixed;
    width: 100%;
    top: 77px;
    bottom: 0;
    left: 0;
    background-color: rgba($gray, 0.95);
    z-index: 120;
    
    &.opened {
        display: block;
        
        .grid-item-open-inner {
            
            height: 100%;
            overflow-y: scroll;

            @include breakpoint($medium){
                overflow: hidden;
                position: relative;
            } // breakpoint medium
            
            .event-grid-item.in-focus {
                cursor: auto;
                
                @include breakpoint($medium){
                    width: 100%;
                    position: absolute;
                    float: none;
                    height: 100%;
                    //@include display-flex;
                    //@include justify-content(space-between);
                } // breakpoint medium

                .event-header {
                    position: relative;

                    @include breakpoint($medium){
                        position: absolute;
                        width: 50%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        background-color: $gray;
                    } // breakpoint medium
                    
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        @include breakpoint($medium) {
                            margin: 0 auto;
                            width: 100%;
                        } // breakpoint medium
                    } // img

                } // event header
                
                .bottom-info {
                    display: block;

                    @include breakpoint($medium){
                        position: absolute;
                          overflow-y: scroll;
                          top: 0;
                          bottom: 0;
                          width: 50%;
                          right: 0;
                    } // breakpoint medium
                    
                    .bottom-info-scroll {

                    } // bottom info
                    
                } // bottom info

            } // grid item

        } // grid item open inner
                
    } // opened
    
    @include breakpoint($medium) {
        top: 90px;
    } // breakpoint medium
    
    @include breakpoint($large) {
        top: 110px;
    } // breakpoint medium
    
} // grid item open holder

.event-grid-item {
    background-color: $lightgray;
    cursor: pointer;
    
    &.not-active {
        display: none;
    }  // not active
    
    header.event-header {
        img {
            display: block;
        } // img
        
        .title-copy {
            
            .title-bkgrnd {
                margin-top: 0;
                
                h4.title {
                    font-size: 8vw;
                    text-align: center;
                    
                    @include breakpoint($small) {
                        font-size: 5vw;
                    } // breakpoint small
                    
                    @include breakpoint($medium) {
                        font-size: 3.5vw;
                    } // breakpoint medium
                    
                    @include breakpoint($large) {
                        // font-size: $h1;
                    } // breakpoint large
                    
                } // h4 title
                
                p.subtitle {
                    font-size: 6vw;
                    
                    @include breakpoint($small) {
                        font-size: 3vw;
                    } // breakpoint small
                    
                    @include breakpoint($medium) {
                        font-size: 2.5vw;
                    } // breakpoint medium
                    
                    @include breakpoint($large) {
                        // font-size: $h1;
                    } // breakpoint large
                    
                } // p subtitle
                
            } // title bkgrnd
            
        } // title copy
        
        .top-info {
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 100%;
            background-color: rgba(white, 0.7);
            padding: 0.7em;
            @include display-flex;
            
            .dates-places, .more-holder {
            } // dates places, more holder
            
            .dates-places {
                font-size: $mob-font-smaller;
                width: 65%;
                
                .dates {
                    margin-bottom: 0.3em;
                    font-weight: bold;
                } // dates
                
            } // dates places
            
            .more-holder {
                width: 35%;
                @include display-flex;
                @include justify-content(flex-end);
                @include align-items(flex-end);
                
                a {
                    color: black;
                    
                    &:hover {
                        color: $red;
                    } // hover
                    
                } // a
                
            } // more holder
            
        } // top info
        
    } // header event-header
    
    .bottom-info {
        display: none;
        
        &.opened {
            display: block;
        } // opened
        
        .main-info, .event-locations {
            padding: 0 3%;
        } // main info & event locations

        .main-info {
            margin-top: 0.5em;

            p {
                line-height: 1.4;
            } // p

            .button-holder {
                text-align: right;

                a.read-more {
                    display: inline-block;
                    padding: 0.5em 0.5em 0.3em;
                    border: 1px solid $red;
                    transition: all 0.5s ease-out;

                    &:hover {
                        border: 1px solid black;
                    } // hover

                } // a.read more

            } // read more holder

        } // main info

        .event-locations {
            margin-top: 1.3em;

            h5 {
                margin-bottom: 0.9em;
            }
            .perf-option.location {
                @include display-flex;
                @include align-items(center);

                .city {
                    font-weight: bold;
                } // city cell

            } // perf-option location

        } // locations
        
    } // bottom info
    
} // event grid item