// BREAKPOINTS
$small             : 480px;
$medium            : 790px;
$large             : 1024px;
$intro-break       : 1110px;
$xlarge            : 1440px;

// COLOURS
$lightgray         : #b4baae;
$lightergray       : #EAEAEA;
$gray              : #464841;
$darkgray          : #6f6f6f;
$filter-gray       : #E7E6E6;
$red               : #d54d3a;
$red-overlay       : #E32426;
$gold              : #f5d606;
$white-trans       : rgba(255,255,255,0.85);
$almost-white      : #F7F7F7;

// FONTS
$font-primary      : 'Futura', Helvetica, sans-serif;
$font-secondary    : 'Futura', Helvetica, sans-serif;

// FONT SIZES
$font-scale        : 1.333;
$font-scale-mob    : 1.125;

$font-reg          : 16px;

$font-smaller      : $font-reg / $font-scale;
$font-bigger       : $font-reg * $font-scale;
$h3                : $font-bigger * $font-scale;
$h2                : $h3 * $font-scale;
$h1                : $h2 * $font-scale;

$mob-font-smaller  : $font-reg / $font-scale-mob;
$mob-font-smallest : $mob-font-smaller / $font-scale-mob;
$mob-font-bigger   : $font-reg * $font-scale-mob;
$mob-h3            : $font-bigger * $font-scale-mob;
$mob-h2            : $h3 * $font-scale-mob;
$mob-h1            : $h2 * $font-scale-mob;

// SUSY GRID LAYOUT
$susy: (
    columns: 4,
    gutters: 0,
    global-box-sizing: border-box
    );